<main class="main__about-shop">
    <h1 class="main__h1">о магазине</h1>
    <div class="main__about-shop__item">
        <img class="main__about-shop__item-img" src="images/conditioner-white.jpg" alt="conditioner-white">
        <div class="main__about-shop__item-text">
             <p>Интернет-магазин «Двери Престиж» представляет вашему вниманию качественные металлические входные двери от ведущих отечественных и зарубежных производителей. У нас вы найдете не только модели для дома или квартиры, но также большой выбор технических, тамбурных, противопожарных и других дверей. Работаем мы не только в столице, но и по всей Московской области, предлагая клиентам выгодные ценовые и ассортиментные решения, в чем вы сами можете убедиться на собственном опыте.</p>
             <p>Цена на металлические входные двери во многом зависит от используемых для отделки материалов. Это может быть порошковое напыление, винорит, ПВХ-пленка, ламинат, МДФ и т.д. Некоторые модели украшаются резными и коваными элементами, зеркалами и стеклами, что также отражается на их стоимости. В любом случае у нас двери представлены в столь широком ценовом диапазоне, что мы можем гарантировать подбор оптимального варианта человеку с любым уровнем доходов.</p>
        </div>
    </div>
    <div class="main__about-shop__item">
        <img class="main__about-shop__item-down" src="images/conditioner-1024x737.jpg" alt="conditioner-black">
        <div class="main__about-shop__item-text-down">
            <p>Интернет-магазин «Двери Престиж» представляет вашему вниманию качественные металлические входные двери от ведущих отечественных и зарубежных производителей. У нас вы найдете не только модели для дома или квартиры, но также большой выбор технических, тамбурных, противопожарных и других дверей. Работаем мы не только в столице, но и по всей Московской области, предлагая клиентам выгодные ценовые и ассортиментные решения, в чем вы сами можете убедиться на собственном опыте.</p>
            <p>Цена на металлические входные двери во многом зависит от используемых для отделки материалов. Это может быть порошковое напыление, винорит, ПВХ-пленка, ламинат, МДФ и т.д. Некоторые модели украшаются резными и коваными элементами, зеркалами и стеклами, что также отражается на их стоимости. В любом случае у нас двери представлены в столь широком ценовом диапазоне, что мы можем гарантировать подбор оптимального варианта человеку с любым уровнем доходов.</p>
        </div>
    </div>
    <h2 class="main__about-shop-h2">Пчему нам дковеряют</h2>
    <ul class="main__about-shop-advantages">
        <li>Наш каталог – это больше 15 производителей и порядка 300 моделей дверей. Любые размеры, надежное порошковое
            напыление, качественный шпон и ламинат, современный дизайн – у нас есть варианты на любой вкус.
        </li>
        <li>Мы выдаем 5-летнюю гарантию на всю продукцию независимо от ее стоимости и выбранной фурнитуры. Если в рамках
            этого периода что-то случилось с дверью – починим, поменяем без лишних вопросов.
        </li>
        <li>Большой склад в Москве и быстрая доставка.<br>Оплата монтажных работ только после их окончания! Мы устанавливаем дверь – вы оцениваете качество и только потом рассчитываетесь за услугу.</li>
    </ul>
    <div class="main__consultation">
        <div class="main__consultation__form">
            <p>ПОЛУЧИТЬ <br>КОНСУЛЬТАЦИЮ <br>МЕНЕДЖЕРА <br>БЕСПЛАТНО</p>
            <form action="stock" method="get" class="main__consultation__form-items">
                <input name="s" placeholder="Ваше имя" type="stock" class="main__consultation__form-name">
                <input name="s" placeholder="Ваш телефон" type="stock" class="main__consultation__form-phone">
                <button type="submit" class="main__consultation__button">
                    получить
                </button>
            </form>
        </div>
    </div>
</main>