<main class="main__card-product">
    <div class="card-product__items">
        <div class="card-product__img">
            <img src="images/conditioner-card.jpg" alt="conditioner-card">
            <div class="card-product__img-mini">
                <img src="images/conditioner-card(mini).png" alt="conditioner-card(mini)">
                <img src="images/conditioner-card(mini).png" alt="conditioner-card(mini)">
                <img src="images/conditioner-card(mini).png" alt="conditioner-card(mini)">
                <img src="images/conditioner-card(mini).png" alt="conditioner-card(mini)">
            </div>
        </div>
        <div class="card-product_order">
            <h1 class="card-product_order-brand">Haier</h1>
            <span class="card-product_order-system">Сплит-система</span>
            <span class="card-product_order-name">Haier HSU-07HLT03/R2</span>
            <div class="card-product_order-prise">
                <span class="card-product_order-prise-item">15 000 руб.</span>
                <span class="card-product_order-prise-code">Артикул 5074938</span>
            </div>
            <form class="card-product_order-checkbox" method="post" action="input5.php">
                <input type="checkbox" name="option2" value="a2">Монтаж оборудования - 8 900 руб.<br>
                <input type="checkbox" name="option3" value="a3">Вип сервис - 3 000 руб.<br>
                <input type="checkbox" name="option4" value="a4">Защитный козырек - 5 000 руб.<br>
            </form>
            <form action="button" method="get" class="main__prise-item__buttons">
                <button class="card-product_order__form-button">
                    <img src="img/cart.png" alt="#">
                    <span>в корзину</span>
                </button>
                <div class="main__prise-item__icons">
                    <a class="main__prise-item__src-like" href="#">
                        <svg class="site-icon main__prise-item__like" xmlns="http://www.w3.org/2000/svg">
                            <use xlink:href="img/svg/svg-symbols.svg#like"></use>
                        </svg>
                    </a>
                    <a class="main__prise-item__src-line-chart" href="#">
                        <svg class="site-icon main__prise-item__line-chart" xmlns="http://www.w3.org/2000/svg">
                            <use xlink:href="img/svg/svg-symbols.svg#line-chart"></use>
                        </svg>
                    </a>
                </div>
            </form>
            <a class="card-product_order-button" href="#">купить</a>
            <a class="card-product_order__call-my" href="#">
                <svg class="site-icon card-product_order__button-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 485.2 485.2">
                    <use xlink:href="img/svg/svg-symbols.svg#operator"></use>
                </svg>
                Позвоните мне
            </a>
        </div>
        <div class="card-product__description">
            <svg class="site-icon card-product__description__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 485.2 485.2">
                <use xlink:href="img/svg/svg-symbols.svg#verified"></use>
            </svg>
            <span class="card-product__description-recall__head">Товар в наличии</span>
            <div class="card-product__description-recall">
                <svg class="site-icon card-product__description-recall__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 485.2 485.2">
                    <use xlink:href="img/svg/svg-symbols.svg#star"></use>
                </svg>
                <svg class="site-icon card-product__description-recall__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 485.2 485.2">
                    <use xlink:href="img/svg/svg-symbols.svg#star"></use>
                </svg>
                <svg class="site-icon card-product__description-recall__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 485.2 485.2">
                    <use xlink:href="img/svg/svg-symbols.svg#star"></use>
                </svg>
                <svg class="site-icon card-product__description-recall__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 485.2 485.2">
                    <use xlink:href="img/svg/svg-symbols.svg#star"></use>
                </svg>
                <svg class="site-icon card-product__description-recall__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 485.2 485.2">
                    <use xlink:href="img/svg/svg-symbols.svg#star"></use>
                </svg>
                <a href="#">1 отзыв(ов)</a>
                <h2 class="card-product__h2">Коротко о товаре</h2>
                <div class="card-product__characteristic">
                    <div class="characteristic-element">
                        <span class="characteristic__item">Обслуживаемая площадь м2</span><span class="characteristic__value">20</span>
                    </div>
                    <div class="characteristic-element">
                        <span class="characteristic__item">Тип кондиционера</span><span class="characteristic__value">Настенный</span>
                    </div>
                    <div class="characteristic-element">
                        <span class="characteristic__item">Мощность в режиме ожидания кВт</span><span class="characteristic__value">2,05</span>
                    </div>
                    <div class="characteristic-element">
                        <span class="characteristic__item">Основные режимы</span><span class="characteristic__value">Охлаждение / обогрев</span>
                    </div>
                    <div class="characteristic-element">
                        <span class="characteristic__item">Гарантия</span><span class="characteristic__value">3 года</span>
                    </div>
                    <div class="characteristic-element">
                        <span class="characteristic__item">Цвет</span><span class="characteristic__value">Белый</span>
                    </div>
                    <div class="characteristic-element">
                        <span class="characteristic__item">Инвектор</span><span class="characteristic__value">Нет</span>
                    </div>
                </div>
                <div class="card-product__description__certificate">
                    <div class="card-product__description__certificate-text">
                        <div class="description__certificate-item">
                            <svg class="site-icon description_certificate__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 485.2 485.2">
                                <use xlink:href="img/svg/svg-symbols.svg#delivery"></use>
                            </svg>
                            <p>
                                <span class="description__certificate-text__black">Доставка - </span>
                                <span class="description__certificate-text__blue">Бесплатно</span> <br>1-2 дня при заказе до 21:00
                            </p>
                        </div>
                        <div class="description__certificate-item">
                            <svg class="site-icon description__certificate__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 485.2 485.2">
                                <use xlink:href="img/svg/svg-symbols.svg#pedestrian-walking"></use>
                            </svg>
                            <p>
                                <span class="description__certificate-text__black">Самовывоз - </span>
                                <span class="description__certificate-text__blue">Бесплатно </span><br>1-2 дня при заказе до 21:00
                            </p>
                        </div>
                        <a href="#">Посмотреть все товары бренда</a>
                    </div>
                    <img src="images/certificate.png" alt="certificate" class="description__certificate-img">
                </div>
            </div>
        </div>
    </div>
    <nav class="card-product__menu">
        <a href="#">Характеристики</a>
        <a href="#">Описание</a>
        <a href="#">Видео</a>
        <a href="#">Гарантия</a>
        <a href="#">Возврат товара</a>
        <a href="#">Отзывы (0)</a>
    </nav>
    <div class="card-product__specification">
        <div class="card-product__specification-item card-product__specification-element">
            <h2 class="card-product__h2 card-product__specification-h2">Характеристики</h2>
            <div class="card-product__characteristic">
                <div class="characteristic-element">
                    <span class="characteristic__item">Обслуживаемая площадь м2</span><span class="characteristic__value">20</span>
                </div>
                <div class="characteristic-element">
                    <span class="characteristic__item">Тип кондиционера</span><span class="characteristic__value">Настенный</span>
                </div>
                <div class="characteristic-element">
                    <span class="characteristic__item">Мощность в режиме ожидания кВт</span><span class="characteristic__value">2,05</span>
                </div>
                <div class="characteristic-element">
                    <span class="characteristic__item">Основные режимы</span><span class="characteristic__value">Охлаждение / обогрев</span>
                </div>
                <div class="characteristic-element">
                    <span class="characteristic__item">Гарантия</span><span class="characteristic__value">3 года</span>
                </div>
                <div class="characteristic-element">
                    <span class="characteristic__item">Цвет</span><span class="characteristic__value">Белый</span>
                </div>
                <div class="characteristic-element">
                    <span class="characteristic__item">Инвектор</span><span class="characteristic__value">Нет</span>
                </div>
                <div class="characteristic-element">
                    <span class="characteristic__item">Обслуживаемая площадь м2</span><span class="characteristic__value">20</span>
                </div>
                <div class="characteristic-element">
                    <span class="characteristic__item">Тип кондиционера</span><span class="characteristic__value">Настенный</span>
                </div>
                <div class="characteristic-element">
                    <span class="characteristic__item">Мощность в режиме ожидания кВт</span><span class="characteristic__value">2,05</span>
                </div>
                <div class="characteristic-element">
                    <span class="characteristic__item">Основные режимы</span><span class="characteristic__value">Охлаждение / обогрев</span>
                </div>
                <div class="characteristic-element">
                    <span class="characteristic__item">Гарантия</span><span class="characteristic__value">3 года</span>
                </div>
                <div class="characteristic-element">
                    <span class="characteristic__item">Цвет</span><span class="characteristic__value">Белый</span>
                </div>
                <div class="characteristic-element">
                    <span class="characteristic__item">Инвектор</span><span class="characteristic__value">Нет</span>
                </div>
                <div class="characteristic-element">
                    <span class="characteristic__item">Обслуживаемая площадь м2</span><span class="characteristic__value">20</span>
                </div>
                <div class="characteristic-element">
                    <span class="characteristic__item">Тип кондиционера</span><span class="characteristic__value">Настенный</span>
                </div>
                <div class="characteristic-element">
                    <span class="characteristic__item">Мощность в режиме ожидания кВт</span><span class="characteristic__value">2,05</span>
                </div>
                <div class="characteristic-element">
                    <span class="characteristic__item">Основные режимы</span><span class="characteristic__value">Охлаждение / обогрев</span>
                </div>
                <div class="characteristic-element">
                    <span class="characteristic__item">Гарантия</span><span class="characteristic__value">3 года</span>
                </div>
                <div class="characteristic-element">
                    <span class="characteristic__item">Цвет</span><span class="characteristic__value">Белый</span>
                </div>
                <div class="characteristic-element">
                    <span class="characteristic__item">Инвектор</span><span class="characteristic__value">Нет</span>
                </div>
                <div class="characteristic-element">
                    <span class="characteristic__item">Обслуживаемая площадь м2</span><span class="characteristic__value">20</span>
                </div>
                <div class="characteristic-element">
                    <span class="characteristic__item">Тип кондиционера</span><span class="characteristic__value">Настенный</span>
                </div>
                <div class="characteristic-element">
                    <span class="characteristic__item">Мощность в режиме ожидания кВт</span><span class="characteristic__value">2,05</span>
                </div>
                <div class="characteristic-element">
                    <span class="characteristic__item">Основные режимы</span><span class="characteristic__value">Охлаждение / обогрев</span>
                </div>
                <div class="characteristic-element">
                    <span class="characteristic__item">Гарантия</span><span class="characteristic__value">3 года</span>
                </div>
                <div class="characteristic-element">
                    <span class="characteristic__item">Цвет</span><span class="characteristic__value">Белый</span>
                </div>
                <div class="characteristic-element">
                    <span class="characteristic__item">Инвектор</span><span class="characteristic__value">Нет</span>
                </div>
            </div>
        </div>
        <div class="card-product__specification-item">
            <div class="card-product__specification-element">
                <h2 class="card-product__h2 card-product__specification-h2">Гарантия производителя</h2>
                <p>На весь ассортимент товара, представленный в нашем <br>интернет-магазине распространяется официальная гарантия <br>производителя. В зависимости от вида техники и конкретной <br>модели срок гарантии может длиться от 6 месяцев до 5 лет</p>
            </div>
            <div class="card-product__specification-element">
                <h2 class="card-product__h2 card-product__specification-h2">Возврат товара</h2>
                <p>Согласно закону Российской Федерации «О защите прав <br>потребителей» Вы можете заменить товар ненадлежащего <br>качества в течение 15 дней либо потребовать возврата <br>уплаченной суммы. А товар надлежащего качества Вы можете в<br>ернуть или обменять в течение 7 дней</p>
            </div>
            <div class="card-product__specification-element">
                <h2 class="card-product__h2 card-product__specification-h2">Видеообзор</h2>
                <img src="images/1.jpg" alt="#">
            </div>
            <div class="card-product__specification-element">
                <h2 class="card-product__h2 card-product__specification-h2">Написать отзыв</h2>
                <div class="card-product__specification-element__grade">
                    <span>Ваша оценка</span>
                    <div class="specification-element__grade__items">
                        <div class="specification-element__grade__item specification-element__grade-horrible">
                            <svg class="site-icon specification-element__grade__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 485.2 485.2">
                                <use xlink:href="img/svg/svg-symbols.svg#star"></use>
                            </svg>
                        </div>
                        <div class="specification-element__grade__item specification-element__grade-badly">
                            <svg class="site-icon specification-element__grade__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 485.2 485.2">
                                <use xlink:href="img/svg/svg-symbols.svg#star"></use>
                            </svg>
                            <svg class="site-icon specification-element__grade__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 485.2 485.2">
                                <use xlink:href="img/svg/svg-symbols.svg#star"></use>
                            </svg>
                        </div>
                        <div class="specification-element__grade__item specification-element__grade-norm">
                            <svg class="site-icon specification-element__grade__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 485.2 485.2">
                                <use xlink:href="img/svg/svg-symbols.svg#star"></use>
                            </svg>
                            <svg class="site-icon specification-element__grade__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 485.2 485.2">
                                <use xlink:href="img/svg/svg-symbols.svg#star"></use>
                            </svg>
                            <svg class="site-icon specification-element__grade__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 485.2 485.2">
                                <use xlink:href="img/svg/svg-symbols.svg#star"></use>
                            </svg>
                        </div>
                        <div class="specification-element__grade__item specification-element__grade-good">
                            <svg class="site-icon specification-element__grade__icon specification-element__grade__icon__good" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 485.2 485.2">
                                <use xlink:href="img/svg/svg-symbols.svg#star"></use>
                            </svg>
                            <svg class="site-icon specification-element__grade__icon specification-element__grade__icon__good" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 485.2 485.2">
                                <use xlink:href="img/svg/svg-symbols.svg#star"></use>
                            </svg>
                            <svg class="site-icon specification-element__grade__icon specification-element__grade__icon__good" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 485.2 485.2">
                                <use xlink:href="img/svg/svg-symbols.svg#star"></use>
                            </svg>
                            <svg class="site-icon specification-element__grade__icon specification-element__grade__icon__good" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 485.2 485.2">
                                <use xlink:href="img/svg/svg-symbols.svg#star"></use>
                            </svg>
                        </div>
                        <div class="specification-element__grade__item specification-element__grade-perfectly">
                            <svg class="site-icon specification-element__grade__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 485.2 485.2">
                                <use xlink:href="img/svg/svg-symbols.svg#star"></use>
                            </svg>
                            <svg class="site-icon specification-element__grade__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 485.2 485.2">
                                <use xlink:href="img/svg/svg-symbols.svg#star"></use>
                            </svg>
                            <svg class="site-icon specification-element__grade__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 485.2 485.2">
                                <use xlink:href="img/svg/svg-symbols.svg#star"></use>
                            </svg>
                            <svg class="site-icon specification-element__grade__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 485.2 485.2">
                                <use xlink:href="img/svg/svg-symbols.svg#star"></use>
                            </svg>
                            <svg class="site-icon specification-element__grade__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 485.2 485.2">
                                <use xlink:href="img/svg/svg-symbols.svg#star"></use>
                            </svg>
                        </div>
                    </div>
                    <form class="specification-element__grade-form">
                        <label for="message-text">Ваш отзыв*</label>
                        <textarea name="message" id="message-text"></textarea>
                        <label for="message-text">Ваше имя*</label>
                        <input type="text" name="name" placeholder="Представьтесь, пожалуйста">
                        <label for="recipient-mail">Ваш email*</label>
                        <input type="email" name="email" id="recipient-mail" placeholder="example@mail.ru">
                        <button type="submit">Разместить отзыв</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <h3 class="card-product-h3">с этим товаром покупают</h3>
    <div class="main__prise">
        <figure class="main__prise-item">
            <img class="main__prise__item-img" src="images/conditioner.jpg" alt="conditioner">
            <span class="main__prise-item__category">Кассетный кондиционер</span>
            <figcaption class="main__prise-item__name">Candy AQUA 114D2-07</figcaption>
            <span class="main__prise-item__prise">15 000 руб.</span>
            <form action="button" method="get" class="main__prise-item__buttons">
                <button>
                    <img src="img/cart.png" alt="#">
                    <span>в корзину</span>
                </button>
                <div class="main__prise-item__icons">
                    <a class="main__prise-item__src-like" href="#">
                        <svg class="site-icon main__prise-item__like" xmlns="http://www.w3.org/2000/svg">
                            <use xlink:href="img/svg/svg-symbols.svg#like"></use>
                        </svg>
                    </a>
                    <a class="main__prise-item__src-line-chart" href="#">
                        <svg class="site-icon main__prise-item__line-chart" xmlns="http://www.w3.org/2000/svg">
                            <use xlink:href="img/svg/svg-symbols.svg#line-chart"></use>
                        </svg>
                    </a>
                </div>
            </form>
        </figure>
        <figure class="main__prise-item">
            <img class="main__prise__item-img" src="images/conditioner.jpg" alt="conditioner">
            <span class="main__prise-item__category">Кассетный кондиционер</span>
            <figcaption class="main__prise-item__name">Candy AQUA 114D2-07</figcaption>
            <span class="main__prise-item__prise">15 000 руб.</span>
            <form action="button" method="get" class="main__prise-item__buttons">
                <button>
                    <img src="img/cart.png" alt="#">
                    <span>в корзину</span>
                </button>
                <div class="main__prise-item__icons">
                    <a class="main__prise-item__src-like" href="#">
                        <svg class="site-icon main__prise-item__like" xmlns="http://www.w3.org/2000/svg">
                            <use xlink:href="img/svg/svg-symbols.svg#like"></use>
                        </svg>
                    </a>
                    <a class="main__prise-item__src-line-chart" href="#">
                        <svg class="site-icon main__prise-item__line-chart" xmlns="http://www.w3.org/2000/svg">
                            <use xlink:href="img/svg/svg-symbols.svg#line-chart"></use>
                        </svg>
                    </a>
                </div>
            </form>
        </figure>
        <figure class="main__prise-item">
            <img class="main__prise__item-img" src="images/conditioner.jpg" alt="conditioner">
            <span class="main__prise-item__category">Кассетный кондиционер</span>
            <figcaption class="main__prise-item__name">Candy AQUA 114D2-07</figcaption>
            <span class="main__prise-item__prise">15 000 руб.</span>
            <form action="button" method="get" class="main__prise-item__buttons">
                <button>
                    <img src="img/cart.png" alt="#">
                    <span>в корзину</span>
                </button>
                <div class="main__prise-item__icons">
                    <a class="main__prise-item__src-like" href="#">
                        <svg class="site-icon main__prise-item__like" xmlns="http://www.w3.org/2000/svg">
                            <use xlink:href="img/svg/svg-symbols.svg#like"></use>
                        </svg>
                    </a>
                    <a class="main__prise-item__src-line-chart" href="#">
                        <svg class="site-icon main__prise-item__line-chart" xmlns="http://www.w3.org/2000/svg">
                            <use xlink:href="img/svg/svg-symbols.svg#line-chart"></use>
                        </svg>
                    </a>
                </div>
            </form>
        </figure>
        <figure class="main__prise-item">
            <img class="main__prise__item-img" src="images/conditioner.jpg" alt="conditioner">
            <span class="main__prise-item__category">Кассетный кондиционер</span>
            <figcaption class="main__prise-item__name">Candy AQUA 114D2-07</figcaption>
            <span class="main__prise-item__prise">15 000 руб.</span>
            <form action="button" method="get" class="main__prise-item__buttons">
                <button>
                    <img src="img/cart.png" alt="#">
                    <span>в корзину</span>
                </button>
                <div class="main__prise-item__icons">
                    <a class="main__prise-item__src-like" href="#">
                        <svg class="site-icon main__prise-item__like" xmlns="http://www.w3.org/2000/svg">
                            <use xlink:href="img/svg/svg-symbols.svg#like"></use>
                        </svg>
                    </a>
                    <a class="main__prise-item__src-line-chart" href="#">
                        <svg class="site-icon main__prise-item__line-chart" xmlns="http://www.w3.org/2000/svg">
                            <use xlink:href="img/svg/svg-symbols.svg#line-chart"></use>
                        </svg>
                    </a>
                </div>
            </form>
        </figure>
    </div>
</main>