<main class="main__contacts">
    <h1 class="main__h1">контакты</h1>
    <div class="main__contacts-line">
        <div class="container">
            <div class="main__contacts-items">
                <div class="main__contacts__delivery">
                    <svg class="site-icon head__top-line__icon" xmlns="http://www.w3.org/2000/svg">
                        <use xlink:href="img/svg/svg-symbols.svg#pin"></use>
                    </svg>
                    <span>Доставка по всей территории России !</span>
                </div>
                <div class="main__contacts__phone">
                    <svg class="site-icon head__top-line__icon" xmlns="http://www.w3.org/2000/svg">
                        <use xlink:href="img/svg/svg-symbols.svg#smartphone"></use>
                    </svg>
                    <address>8 (499) 390 - 73 - 32</address>
                </div>
                <div class="main__contacts__working-hours">
                    <svg class="site-icon head__top-line__icon" xmlns="http://www.w3.org/2000/svg">
                        <use xlink:href="img/svg/svg-symbols.svg#clock"></use>
                    </svg>
                    <span>с 9:00 до 22:00 без выходных</span>
                </div>
                <div class="main__contacts__email">
                    <svg class="site-icon head__top-line__icon" xmlns="http://www.w3.org/2000/svg">
                        <use xlink:href="img/svg/svg-symbols.svg#contact"></use>
                    </svg>
                    <address>info@retro-climat.me</address>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="contacts-map">
                <img src="images/map.jpg" alt="#">
            </div>
        </div>
    </div>
</main>