<main class="main__contacts">
    <h1 class="main__h1">контакты</h1>
    <div class="head__top-line">
        <div class="container">
            <div class="head__top-line-items">
                <div class="head__top-line__delivery">
                    <svg class="site-icon head__top-line__icon" xmlns="http://www.w3.org/2000/svg">
                        <use xlink:href="img/svg/svg-symbols.svg#pin"></use>
                    </svg>
                    <span>Доставка по всей территории России !</span>
                </div>
                <div class="main__contacts__phone">
                    <svg class="site-icon head__top-line__icon" xmlns="http://www.w3.org/2000/svg">
                        <use xlink:href="img/svg/svg-symbols.svg#smartphone-call"></use>
                    </svg>
                    <address>8 (499) 390 - 73 - 32</address>
                </div>
                <div class="head__top-line__working-hours">
                    <svg class="site-icon head__top-line__icon" xmlns="http://www.w3.org/2000/svg">
                        <use xlink:href="img/svg/svg-symbols.svg#clock"></use>
                    </svg>
                    <span>с 9:00 до 22:00 без выходных</span>
                </div>
                <div class="head__top-line__email">
                    <svg class="site-icon head__top-line__icon" xmlns="http://www.w3.org/2000/svg">
                        <use xlink:href="img/svg/svg-symbols.svg#contact"></use>
                    </svg>
                    <address>info@retro-climat.me</address>
                </div>
            </div>
        </div>
    </div>
</main>