<main class="main">
    <h1 class="main__head">кондиционеры</h1>
    <section class="main__conditioners-categories">
        <div class="main__conditioners-item">
            <div class="main__conditioners-item__img">
                <img src="images/conditioner.jpg" alt="conditioner">
            </div>
            <div class="main__conditioners-item__text">
                <h2>Сплит системы</h2>
                <p>Внешние блоки<br> Внутренние блоки</p>
            </div>
        </div>
        <div class="main__conditioners-item">
            <div class="main__conditioners-item__img">
                <img src="images/conditioner.jpg" alt="conditioner">
            </div>
            <div class="main__conditioners-item__text">
                <h2>Сплит системы</h2>
                <p>Внешние блоки<br> Внутренние блоки</p>
            </div>
        </div>
        <div class="main__conditioners-item">
            <div class="main__conditioners-item__img">
                <img src="images/conditioner.jpg" alt="conditioner">
            </div>
            <div class="main__conditioners-item__text">
                <h2>Сплит системы</h2>
                <p>Внешние блоки<br> Внутренние блоки</p>
            </div>
        </div>
        <div class="main__conditioners-item">
            <div class="main__conditioners-item__img">
                <img src="images/conditioner.jpg" alt="conditioner">
            </div>
            <div class="main__conditioners-item__text">
                <h2>Сплит системы</h2>
                <p>Внешние блоки<br> Внутренние блоки</p>
            </div>
        </div>
        <div class="main__conditioners-item">
            <div class="main__conditioners-item__img">
                <img src="images/conditioner.jpg" alt="conditioner">
            </div>
            <div class="main__conditioners-item__text">
                <h2>Сплит системы</h2>
                <p>Внешние блоки<br> Внутренние блоки</p>
            </div>
        </div>
        <div class="main__conditioners-item">
            <div class="main__conditioners-item__img">
                <img src="images/conditioner.jpg" alt="conditioner">
            </div>
            <div class="main__conditioners-item__text">
                <h2>Сплит системы</h2>
                <p>Внешние блоки<br> Внутренние блоки</p>
            </div>
        </div>
    </section>
    <section class="main__prise">
        <figure class="main__prise-item">
            <img class="main__prise__item-img" src="images/conditioner.jpg" alt="conditioner">
            <span class="main__prise-item__category">Кассетный кондиционер</span>
            <figcaption class="main__prise-item__name">Candy AQUA 114D2-07</figcaption>
            <span class="main__prise-item__prise">15 000 руб.</span>
            <form action="button" method="get" class="main__prise-item__buttons">
                <button>
                    <img src="img/cart.png" alt="#">
                    <span>в корзину</span>
                </button>
                <div class="main__prise-item__icons">
                    <a class="main__prise-item__src-like" href="#">
                        <svg class="site-icon main__prise-item__like" xmlns="http://www.w3.org/2000/svg">
                            <use xlink:href="img/svg/svg-symbols.svg#like"></use>
                        </svg>
                    </a>
                    <a class="main__prise-item__src-line-chart" href="#">
                        <svg class="site-icon main__prise-item__line-chart" xmlns="http://www.w3.org/2000/svg">
                            <use xlink:href="img/svg/svg-symbols.svg#line-chart"></use>
                        </svg>
                    </a>
                </div>
            </form>
        </figure>
        <figure class="main__prise-item">
            <img class="main__prise__item-img" src="images/conditioner.jpg" alt="conditioner">
            <span class="main__prise-item__category">Кассетный кондиционер</span>
            <figcaption class="main__prise-item__name">Candy AQUA 114D2-07</figcaption>
            <span class="main__prise-item__prise">15 000 руб.</span>
            <form action="button" method="get" class="main__prise-item__buttons">
                <button>
                    <img src="img/cart.png" alt="#">
                    <span>в корзину</span>
                </button>
                <div class="main__prise-item__icons">
                    <a class="main__prise-item__src-like" href="#">
                        <svg class="site-icon main__prise-item__like" xmlns="http://www.w3.org/2000/svg">
                            <use xlink:href="img/svg/svg-symbols.svg#like"></use>
                        </svg>
                    </a>
                    <a class="main__prise-item__src-line-chart" href="#">
                        <svg class="site-icon main__prise-item__line-chart" xmlns="http://www.w3.org/2000/svg">
                            <use xlink:href="img/svg/svg-symbols.svg#line-chart"></use>
                        </svg>
                    </a>
                </div>
            </form>
        </figure>
        <figure class="main__prise-item">
            <img class="main__prise__item-img" src="images/conditioner.jpg" alt="conditioner">
            <span class="main__prise-item__category">Кассетный кондиционер</span>
            <figcaption class="main__prise-item__name">Candy AQUA 114D2-07</figcaption>
            <span class="main__prise-item__prise">15 000 руб.</span>
            <form action="button" method="get" class="main__prise-item__buttons">
                <button>
                    <img src="img/cart.png" alt="#">
                    <span>в корзину</span>
                </button>
                <div class="main__prise-item__icons">
                    <a class="main__prise-item__src-like" href="#">
                        <svg class="site-icon main__prise-item__like" xmlns="http://www.w3.org/2000/svg">
                            <use xlink:href="img/svg/svg-symbols.svg#like"></use>
                        </svg>
                    </a>
                    <a class="main__prise-item__src-line-chart" href="#">
                        <svg class="site-icon main__prise-item__line-chart" xmlns="http://www.w3.org/2000/svg">
                            <use xlink:href="img/svg/svg-symbols.svg#line-chart"></use>
                        </svg>
                    </a>
                </div>
            </form>
        </figure>
        <figure class="main__prise-item">
            <img class="main__prise__item-img" src="images/conditioner.jpg" alt="conditioner">
            <span class="main__prise-item__category">Кассетный кондиционер</span>
            <figcaption class="main__prise-item__name">Candy AQUA 114D2-07</figcaption>
            <span class="main__prise-item__prise">15 000 руб.</span>
            <form action="button" method="get" class="main__prise-item__buttons">
                <button>
                    <img src="img/cart.png" alt="#">
                    <span>в корзину</span>
                </button>
                <div class="main__prise-item__icons">
                    <a class="main__prise-item__src-like" href="#">
                        <svg class="site-icon main__prise-item__like" xmlns="http://www.w3.org/2000/svg">
                            <use xlink:href="img/svg/svg-symbols.svg#like"></use>
                        </svg>
                    </a>
                    <a class="main__prise-item__src-line-chart" href="#">
                        <svg class="site-icon main__prise-item__line-chart" xmlns="http://www.w3.org/2000/svg">
                            <use xlink:href="img/svg/svg-symbols.svg#line-chart"></use>
                        </svg>
                    </a>
                </div>
            </form>
        </figure>
        <figure class="main__prise-item">
            <img class="main__prise__item-img" src="images/conditioner.jpg" alt="conditioner">
            <span class="main__prise-item__category">Кассетный кондиционер</span>
            <figcaption class="main__prise-item__name">Candy AQUA 114D2-07</figcaption>
            <span class="main__prise-item__prise">15 000 руб.</span>
            <form action="button" method="get" class="main__prise-item__buttons">
                <button>
                    <img src="img/cart.png" alt="#">
                    <span>в корзину</span>
                </button>
                <div class="main__prise-item__icons">
                    <a class="main__prise-item__src-like" href="#">
                        <svg class="site-icon main__prise-item__like" xmlns="http://www.w3.org/2000/svg">
                            <use xlink:href="img/svg/svg-symbols.svg#like"></use>
                        </svg>
                    </a>
                    <a class="main__prise-item__src-line-chart" href="#">
                        <svg class="site-icon main__prise-item__line-chart" xmlns="http://www.w3.org/2000/svg">
                            <use xlink:href="img/svg/svg-symbols.svg#line-chart"></use>
                        </svg>
                    </a>
                </div>
            </form>
        </figure>
        <figure class="main__prise-item">
            <img class="main__prise__item-img" src="images/conditioner.jpg" alt="conditioner">
            <span class="main__prise-item__category">Кассетный кондиционер</span>
            <figcaption class="main__prise-item__name">Candy AQUA 114D2-07</figcaption>
            <span class="main__prise-item__prise">15 000 руб.</span>
            <form action="button" method="get" class="main__prise-item__buttons">
                <button>
                    <img src="img/cart.png" alt="#">
                    <span>в корзину</span>
                </button>
                <div class="main__prise-item__icons">
                    <a class="main__prise-item__src-like" href="#">
                        <svg class="site-icon main__prise-item__like" xmlns="http://www.w3.org/2000/svg">
                            <use xlink:href="img/svg/svg-symbols.svg#like"></use>
                        </svg>
                    </a>
                    <a class="main__prise-item__src-line-chart" href="#">
                        <svg class="site-icon main__prise-item__line-chart" xmlns="http://www.w3.org/2000/svg">
                            <use xlink:href="img/svg/svg-symbols.svg#line-chart"></use>
                        </svg>
                    </a>
                </div>
            </form>
        </figure>
        <figure class="main__prise-item">
            <img class="main__prise__item-img" src="images/conditioner.jpg" alt="conditioner">
            <span class="main__prise-item__category">Кассетный кондиционер</span>
            <figcaption class="main__prise-item__name">Candy AQUA 114D2-07</figcaption>
            <span class="main__prise-item__prise">15 000 руб.</span>
            <form action="button" method="get" class="main__prise-item__buttons">
                <button>
                    <img src="img/cart.png" alt="#">
                    <span>в корзину</span>
                </button>
                <div class="main__prise-item__icons">
                    <a class="main__prise-item__src-like" href="#">
                        <svg class="site-icon main__prise-item__like" xmlns="http://www.w3.org/2000/svg">
                            <use xlink:href="img/svg/svg-symbols.svg#like"></use>
                        </svg>
                    </a>
                    <a class="main__prise-item__src-line-chart" href="#">
                        <svg class="site-icon main__prise-item__line-chart" xmlns="http://www.w3.org/2000/svg">
                            <use xlink:href="img/svg/svg-symbols.svg#line-chart"></use>
                        </svg>
                    </a>
                </div>
            </form>
        </figure>
        <figure class="main__prise-item">
            <img class="main__prise__item-img" src="images/conditioner.jpg" alt="conditioner">
            <span class="main__prise-item__category">Кассетный кондиционер</span>
            <figcaption class="main__prise-item__name">Candy AQUA 114D2-07</figcaption>
            <span class="main__prise-item__prise">15 000 руб.</span>
            <form action="button" method="get" class="main__prise-item__buttons">
                <button>
                    <img src="img/cart.png" alt="#">
                    <span>в корзину</span>
                </button>
                <div class="main__prise-item__icons">
                    <a class="main__prise-item__src-like" href="#">
                        <svg class="site-icon main__prise-item__like" xmlns="http://www.w3.org/2000/svg">
                            <use xlink:href="img/svg/svg-symbols.svg#like"></use>
                        </svg>
                    </a>
                    <a class="main__prise-item__src-line-chart" href="#">
                        <svg class="site-icon main__prise-item__line-chart" xmlns="http://www.w3.org/2000/svg">
                            <use xlink:href="img/svg/svg-symbols.svg#line-chart"></use>
                        </svg>
                    </a>
                </div>
            </form>
        </figure>
        <figure class="main__prise-item">
            <img class="main__prise__item-img" src="images/conditioner.jpg" alt="conditioner">
            <span class="main__prise-item__category">Кассетный кондиционер</span>
            <figcaption class="main__prise-item__name">Candy AQUA 114D2-07</figcaption>
            <span class="main__prise-item__prise">15 000 руб.</span>
            <form action="button" method="get" class="main__prise-item__buttons">
                <button>
                    <img src="img/cart.png" alt="#">
                    <span>в корзину</span>
                </button>
                <div class="main__prise-item__icons">
                    <a class="main__prise-item__src-like" href="#">
                        <svg class="site-icon main__prise-item__like" xmlns="http://www.w3.org/2000/svg">
                            <use xlink:href="img/svg/svg-symbols.svg#like"></use>
                        </svg>
                    </a>
                    <a class="main__prise-item__src-line-chart" href="#">
                        <svg class="site-icon main__prise-item__line-chart" xmlns="http://www.w3.org/2000/svg">
                            <use xlink:href="img/svg/svg-symbols.svg#line-chart"></use>
                        </svg>
                    </a>
                </div>
            </form>
        </figure>
        <figure class="main__prise-item">
            <img class="main__prise__item-img" src="images/conditioner.jpg" alt="conditioner">
            <span class="main__prise-item__category">Кассетный кондиционер</span>
            <figcaption class="main__prise-item__name">Candy AQUA 114D2-07</figcaption>
            <span class="main__prise-item__prise">15 000 руб.</span>
            <form action="button" method="get" class="main__prise-item__buttons">
                <button>
                    <img src="img/cart.png" alt="#">
                    <span>в корзину</span>
                </button>
                <div class="main__prise-item__icons">
                    <a class="main__prise-item__src-like" href="#">
                        <svg class="site-icon main__prise-item__like" xmlns="http://www.w3.org/2000/svg">
                            <use xlink:href="img/svg/svg-symbols.svg#like"></use>
                        </svg>
                    </a>
                    <a class="main__prise-item__src-line-chart" href="#">
                        <svg class="site-icon main__prise-item__line-chart" xmlns="http://www.w3.org/2000/svg">
                            <use xlink:href="img/svg/svg-symbols.svg#line-chart"></use>
                        </svg>
                    </a>
                </div>
            </form>
        </figure>
        <figure class="main__prise-item">
            <img class="main__prise__item-img" src="images/conditioner.jpg" alt="conditioner">
            <span class="main__prise-item__category">Кассетный кондиционер</span>
            <figcaption class="main__prise-item__name">Candy AQUA 114D2-07</figcaption>
            <span class="main__prise-item__prise">15 000 руб.</span>
            <form action="button" method="get" class="main__prise-item__buttons">
                <button>
                    <img src="img/cart.png" alt="#">
                    <span>в корзину</span>
                </button>
                <div class="main__prise-item__icons">
                    <a class="main__prise-item__src-like" href="#">
                        <svg class="site-icon main__prise-item__like" xmlns="http://www.w3.org/2000/svg">
                            <use xlink:href="img/svg/svg-symbols.svg#like"></use>
                        </svg>
                    </a>
                    <a class="main__prise-item__src-line-chart" href="#">
                        <svg class="site-icon main__prise-item__line-chart" xmlns="http://www.w3.org/2000/svg">
                            <use xlink:href="img/svg/svg-symbols.svg#line-chart"></use>
                        </svg>
                    </a>
                </div>
            </form>
        </figure>
        <figure class="main__prise-item">
            <a href="card-product.html"><img class="main__prise__item-img" src="images/conditioner.jpg" alt="conditioner"></a>
            <span class="main__prise-item__category">Кассетный кондиционер</span>
            <figcaption class="main__prise-item__name">Candy AQUA 114D2-07</figcaption>
            <span class="main__prise-item__prise">15 000 руб.</span>
            <form action="button" method="get" class="main__prise-item__buttons">
                <button>
                    <img src="img/cart.png" alt="#">
                    <span>в корзину</span>
                </button>
                <div class="main__prise-item__icons">
                    <a class="main__prise-item__src-like" href="#">
                        <svg class="site-icon main__prise-item__like" xmlns="http://www.w3.org/2000/svg">
                            <use xlink:href="img/svg/svg-symbols.svg#like"></use>
                        </svg>
                    </a>
                    <a class="main__prise-item__src-line-chart" href="#">
                        <svg class="site-icon main__prise-item__line-chart" xmlns="http://www.w3.org/2000/svg">
                            <use xlink:href="img/svg/svg-symbols.svg#line-chart"></use>
                        </svg>
                    </a>
                </div>
            </form>
        </figure>
    </section>
    <div class="main__prise-more">
        <a class="main__prise-more__item" href="#">смотреть еще</a>
    </div>
    <section class="main__hits">
        <div class="main__hits__head">
            <h3>популярное</h3>
        </div>
        <div class="main__hits__items">
            <div class="main__hits__item">
                <a href="#">Инверторные кондиционеры</a>
            </div>
            <div class="main__hits__item">
                <a href="#">Промышленные кондиционеры</a>
            </div>
            <div class="main__hits__item">
                <a href="#">Вертикальные кондиционеры</a>
            </div>
            <div class="main__hits__item">
                <a href="#">Стационарные кондиционеры</a>
            </div>
        </div>
    </section>
</main>