<div class="main__delivery__head">
    <div class="container">
        <h1 class="h2 main__delivery__h2">ДОСТАВКА И УСТАНОВКА</h1>
        <div class="main__delivery__items">
            <div class="main__delivery__text">
                <p><span>Доставка</span> <br>в пределах МКАД <br>без установки <br>1 200 руб.</p>
            </div>
            <div class="main__delivery__text">
                <p><span>Доставка</span> <br>после заезда <br>за МКАД + 10 км <br>1 200 руб. + 30 руб./км</p>
            </div>
            <div class="main__delivery__text">
                <p><span>Доставка и монтаж</span> <br>на ровную стену <br>в жилой комнате  <br>3 000 руб</p>
            </div>
            <div class="main__delivery__text">
                <p><span>Доставка и монтаж</span> <br>на ровную стену <br>в ванной комнате  <br>3 000 руб</p>
            </div>
        </div>
    </div>
</div>
<div class="main__consultation">
    <div class="container">
        <div class="main__consultation__form">
            <p>ПОЛУЧИТЬ <br>КОНСУЛЬТАЦИЮ <br>МЕНЕДЖЕРА <br>БЕСПЛАТНО</p>
            <form action="stock" method="get" class="main__consultation__form-items">
                <input name="s" placeholder="Ваше имя" type="stock" class="main__consultation__form-name">
                <input name="s" placeholder="Ваш телефон" type="stock" class="main__consultation__form-phone">
                <button type="submit" class="main__consultation__button">
                    получить
                </button>
            </form>
        </div>
    </div>
</div>
