<main class="main">
    <div class="main__banner">
        <div class="main__banner-head">
            <h1>Климатическое оборудование<br> для Вашего комфорта</h1>
            <a href="conditioners.html">перейти в каталог</a>
        </div>
        <div class="main__banner__advantages">
            <div class="main__banner__advantages__item">
                <svg class="site-icon main__banner__advantages__item-icon" xmlns="http://www.w3.org/2000/svg">
                    <use xlink:href="img/svg/svg-symbols.svg#air-conditioner"></use>
                </svg>
                <span class="main__banner__advantages__item-text">Более <span class="main__banner__advantages__item-bold">3000<br></span> наименований</span>
            </div>
            <div class="main__banner__advantages__item">
                <svg class="site-icon main__banner__advantages__item-icon" xmlns="http://www.w3.org/2000/svg">
                    <use xlink:href="img/svg/svg-symbols.svg#box"></use>
                </svg>
                <span class="main__banner__advantages__item-text">Доставка<br> <span class="main__banner__advantages__item-bold">1 день</span></span>
            </div>
            <div class="main__banner__advantages__item">
                <svg class="site-icon main__banner__advantages__item-icon" xmlns="http://www.w3.org/2000/svg">
                    <use xlink:href="img/svg/svg-symbols.svg#team"></use>
                </svg>
                <span class="main__banner__advantages__item-text"><span class="main__banner__advantages__item-bold">
                    Лучшие
                </span> монтажные<br>бригады</span>
            </div>
            <div class="main__banner__advantages__item">
                <svg class="site-icon main__banner__advantages__item-icon" xmlns="http://www.w3.org/2000/svg">
                    <use xlink:href="img/svg/svg-symbols.svg#shield"></use>
                </svg>
                <span class="main__banner__advantages__item-text"><span class="main__banner__advantages__item-bold">
                    Гарантия<br>
                </span>качества</span>
            </div>
            <div class="main__banner__advantages__item">
                <svg class="site-icon main__banner__advantages__item-icon" xmlns="http://www.w3.org/2000/svg">
                    <use xlink:href="img/svg/svg-symbols.svg#credit-card"></use>
                </svg>
                <span class="main__banner__advantages__item-text"><span class="main__banner__advantages__item-bold">
                    Оплата<br>
                </span>наличными/картой</span>
            </div>
        </div>
    </div>
    <section class="main__hits">
        <h2 class="h2">ПОПУЛЯРНЫЕ ТОВАРЫ / <span>ХИТЫ ПРОДАЖ</span></h2>
        <section class="main__prise">
            <figure class="main__prise-item">
                <img class="main__prise__item-img" src="images/conditioner.jpg" alt="conditioner">
                <span class="main__prise-item__category">Кассетный кондиционер</span>
                <figcaption class="main__prise-item__name">Candy AQUA 114D2-07</figcaption>
                <span class="main__prise-item__prise">15 000 руб.</span>
                <form action="button" method="get" class="main__prise-item__buttons">
                    <button>
                        <img src="img/cart.png" alt="#">
                        <span>в корзину</span>
                    </button>
                    <div class="main__prise-item__icons">
                        <a class="main__prise-item__src-like" href="#">
                            <svg class="site-icon main__prise-item__like" xmlns="http://www.w3.org/2000/svg">
                                <use xlink:href="img/svg/svg-symbols.svg#like"></use>
                            </svg>
                        </a>
                        <a class="main__prise-item__src-line-chart" href="#">
                            <svg class="site-icon main__prise-item__line-chart" xmlns="http://www.w3.org/2000/svg">
                                <use xlink:href="img/svg/svg-symbols.svg#line-chart"></use>
                            </svg>
                        </a>
                    </div>
                </form>
            </figure>
            <figure class="main__prise-item">
                <img class="main__prise__item-img" src="images/conditioner.jpg" alt="conditioner">
                <span class="main__prise-item__category">Кассетный кондиционер</span>
                <figcaption class="main__prise-item__name">Candy AQUA 114D2-07</figcaption>
                <span class="main__prise-item__prise">15 000 руб.</span>
                <form action="button" method="get" class="main__prise-item__buttons">
                    <button>
                        <img src="img/cart.png" alt="#">
                        <span>в корзину</span>
                    </button>
                    <div class="main__prise-item__icons">
                        <a class="main__prise-item__src-like" href="#">
                            <svg class="site-icon main__prise-item__like" xmlns="http://www.w3.org/2000/svg">
                                <use xlink:href="img/svg/svg-symbols.svg#like"></use>
                            </svg>
                        </a>
                        <a class="main__prise-item__src-line-chart" href="#">
                            <svg class="site-icon main__prise-item__line-chart" xmlns="http://www.w3.org/2000/svg">
                                <use xlink:href="img/svg/svg-symbols.svg#line-chart"></use>
                            </svg>
                        </a>
                    </div>
                </form>
            </figure>
            <figure class="main__prise-item">
                <img class="main__prise__item-img" src="images/conditioner.jpg" alt="conditioner">
                <span class="main__prise-item__category">Кассетный кондиционер</span>
                <figcaption class="main__prise-item__name">Candy AQUA 114D2-07</figcaption>
                <span class="main__prise-item__prise">15 000 руб.</span>
                <form action="button" method="get" class="main__prise-item__buttons">
                    <button>
                        <img src="img/cart.png" alt="#">
                        <span>в корзину</span>
                    </button>
                    <div class="main__prise-item__icons">
                        <a class="main__prise-item__src-like" href="#">
                            <svg class="site-icon main__prise-item__like" xmlns="http://www.w3.org/2000/svg">
                                <use xlink:href="img/svg/svg-symbols.svg#like"></use>
                            </svg>
                        </a>
                        <a class="main__prise-item__src-line-chart" href="#">
                            <svg class="site-icon main__prise-item__line-chart" xmlns="http://www.w3.org/2000/svg">
                                <use xlink:href="img/svg/svg-symbols.svg#line-chart"></use>
                            </svg>
                        </a>
                    </div>
                </form>
            </figure>
            <figure class="main__prise-item">
                <img class="main__prise__item-img" src="images/conditioner.jpg" alt="conditioner">
                <span class="main__prise-item__category">Кассетный кондиционер</span>
                <figcaption class="main__prise-item__name">Candy AQUA 114D2-07</figcaption>
                <span class="main__prise-item__prise">15 000 руб.</span>
                <form action="button" method="get" class="main__prise-item__buttons">
                    <button>
                        <img src="img/cart.png" alt="#">
                        <span>в корзину</span>
                    </button>
                    <div class="main__prise-item__icons">
                        <a class="main__prise-item__src-like" href="#">
                            <svg class="site-icon main__prise-item__like" xmlns="http://www.w3.org/2000/svg">
                                <use xlink:href="img/svg/svg-symbols.svg#like"></use>
                            </svg>
                        </a>
                        <a class="main__prise-item__src-line-chart" href="#">
                            <svg class="site-icon main__prise-item__line-chart" xmlns="http://www.w3.org/2000/svg">
                                <use xlink:href="img/svg/svg-symbols.svg#line-chart"></use>
                            </svg>
                        </a>
                    </div>
                </form>
            </figure>
        </section>
    </section>
    <section class="main__catalog">
        <h2 class="h2">КАТАЛОГ КОНДИЦИОНЕРОВ</h2>
        <div class="main__catalog__nav">
            <a href="#">По производителю</a>
            <a href="#">По назначению</a>
            <a href="#">По стране-производителю</a>
        </div>
        <div class="main__catalog__manufacturers-general">
            <div class="main__catalog__items">
                <figure class="main__catalog__item">
                    <img src="images/arma.jpg" alt="arma">
                    <figcaption>ARMA DREAM DOORS</figcaption>
                    <a href="#">
                        <span class="main__catalog__quantity">27 изделий</span>
                        <span class="main__catalog__prise">от 15000 руб</span>
                    </a>
                </figure>
                <figure class="main__catalog__item">
                    <img src="images/arma.jpg" alt="arma">
                    <figcaption>ARMA DREAM DOORS</figcaption>
                    <a href="#">
                        <span class="main__catalog__quantity">27 изделий</span>
                        <span class="main__catalog__prise">от 15000 руб</span>
                    </a>
                </figure>
                <figure class="main__catalog__item">
                    <img src="images/arma.jpg" alt="arma">
                    <figcaption>ARMA DREAM DOORS</figcaption>
                    <a href="#">
                        <span class="main__catalog__quantity">27 изделий</span>
                        <span class="main__catalog__prise">от 15000 руб</span>
                    </a>
                </figure>
                <figure class="main__catalog__item">
                    <img src="images/arma.jpg" alt="arma">
                    <figcaption>ARMA DREAM DOORS</figcaption>
                    <a href="#">
                        <span class="main__catalog__quantity">27 изделий</span>
                        <span class="main__catalog__prise">от 15000 руб</span>
                    </a>
                </figure>
                <figure class="main__catalog__item">
                    <img src="images/arma.jpg" alt="arma">
                    <figcaption>ARMA DREAM DOORS</figcaption>
                    <a href="#">
                        <span class="main__catalog__quantity">27 изделий</span>
                        <span class="main__catalog__prise">от 15000 руб</span>
                    </a>
                </figure>
                <figure class="main__catalog__item">
                    <img src="images/arma.jpg" alt="arma">
                    <figcaption>ARMA DREAM DOORS</figcaption>
                    <a href="#">
                        <span class="main__catalog__quantity">27 изделий</span>
                        <span class="main__catalog__prise">от 15000 руб</span>
                    </a>
                </figure>
                <figure class="main__catalog__item">
                    <img src="images/arma.jpg" alt="arma">
                    <figcaption>ARMA DREAM DOORS</figcaption>
                    <a href="#">
                        <span class="main__catalog__quantity">27 изделий</span>
                        <span class="main__catalog__prise">от 15000 руб</span>
                    </a>
                </figure>
                <figure class="main__catalog__item">
                    <img src="images/arma.jpg" alt="arma">
                    <figcaption>ARMA DREAM DOORS</figcaption>
                    <a href="#">
                        <span class="main__catalog__quantity">27 изделий</span>
                        <span class="main__catalog__prise">от 15000 руб</span>
                    </a>
                </figure>
            </div>
            <a href="#" class="main__catalog__manufacturers">
                <svg class="site-icon main__catalog__manufacturers-icon" xmlns="http://www.w3.org/2000/svg">
                    <use xlink:href="img/svg/svg-symbols.svg#arrow-down"></use>
                </svg>
                еще производители
                <svg class="site-icon main__catalog__manufacturers-icon" xmlns="http://www.w3.org/2000/svg">
                    <use xlink:href="img/svg/svg-symbols.svg#arrow-down"></use>
                </svg>
            </a>
        </div>
    </section>
</main>