<nav class="nav">
	<a href="#">каталог товаров</a>
	<a href="#">кондиционеры</a>
	<a href="#">доставка</a>
	<a href="#">монтаж</a>
	<a href="#">обслуживание</a>
	<a href="#">гарантия</a>
	<a href="#">акции</a>
	<a href="#">контакты</a>
</nav>
<div class="head__bread-crumbs">
	<a href="#">
		<svg class="site-icon head__bread-crumbs__icon" xmlns="http://www.w3.org/2000/svg">
			<use xlink:href="img/svg/svg-symbols.svg#home"></use>
		</svg>
		<span>Главнвя</span>
	</a>
	<span>Кондиционеры</span>
</div>