<main class="main__news">
    <div class="container">
        <h1 class="main__h1">новости</h1>
        <div class="main__news__item">
            <img src="images/news.jpg" alt="#">
            <div class="main__news__item-text">
                <span>29.03.2018</span>
                <h2>Новые кондиционеры поступили в Москву из Германии по российским ценам</h2>
                <p>Если  вы живете в доме с газовым снабжением, то безусловно в целях экономии бюджета стоит выбрать именно газовую поверность ...</p>
                <a href="#">подробнее</a>
            </div>
        </div>
        <div class="main__news__item">
            <img src="images/news.jpg" alt="#">
            <div class="main__news__item-text">
                <span>29.03.2018</span>
                <h2>Новые кондиционеры поступили в Москву из Германии по российским ценам</h2>
                <p>Если  вы живете в доме с газовым снабжением, то безусловно в целях экономии бюджета стоит выбрать именно газовую поверность ...</p>
                <a href="#">подробнее</a>
            </div>
        </div>
        <div class="main__news__item">
            <img src="images/news.jpg" alt="#">
            <div class="main__news__item-text">
                <span>29.03.2018</span>
                <h2>Новые кондиционеры поступили в Москву из Германии по российским ценам</h2>
                <p>Если  вы живете в доме с газовым снабжением, то безусловно в целях экономии бюджета стоит выбрать именно газовую поверность ...</p>
                <a href="#">подробнее</a>
            </div>
        </div>
        <div class="main__news__item">
            <img src="images/news.jpg" alt="#">
            <div class="main__news__item-text">
                <span>29.03.2018</span>
                <h2>Новые кондиционеры поступили в Москву из Германии по российским ценам</h2>
                <p>Если  вы живете в доме с газовым снабжением, то безусловно в целях экономии бюджета стоит выбрать именно газовую поверность ...</p>
                <a href="#">подробнее</a>
            </div>
        </div>
        <div class="main__news__item">
            <img src="images/news.jpg" alt="#">
            <div class="main__news__item-text">
                <span>29.03.2018</span>
                <h2>Новые кондиционеры поступили в Москву из Германии по российским ценам</h2>
                <p>Если  вы живете в доме с газовым снабжением, то безусловно в целях экономии бюджета стоит выбрать именно газовую поверность ...</p>
                <a href="#">подробнее</a>
            </div>
        </div>
    </div>
</main>