<main class="main__service">
    <div class="container">
        <h1 class="main__h1">обслуживание</h1>
        <div class="main__service__conditioners">
            <div class="main__service__conditioners-item">
                <img src="images/air_conditioners.jpg" alt="air_conditioners">
                <span>бытовые кондиционеры</span>
                <a href="#">подробнее</a>
            </div>
            <div class="main__service__conditioners-item">
                <img src="images/vrv-vrf.jpg" alt="air_conditioners">
                <span>VRV и VRF СИСТЕМЫ</span>
                <a href="#">подробнее</a>
            </div>
            <div class="main__service__conditioners-item">
                <img src="images/chillers-fancoils.jpg" alt="air_conditioners">
                <span>ЧИЛЛЕРЫ и фанкойлы</span>
                <a href="#">подробнее</a>
            </div>
            <div class="main__service__sentence">
                <div class="main__service__sentence-text main__service__sentence__item">
                    <p>Поломался или неправильно работет кондиционер: не включается, появился неприятный запах, дует теплый воздух, гудит? А может быть нужно произвести плановое техническое обслуживание климатической системы или просто дозаправить фреоном? Тогда Вам к нам! Мы предлагаем профессиональные услуги по ремонту, заправке и обслуживанию климатического оборудования: бытовых сплит систем, чилеров и фанкойлов, а так же VRV и VRF систем.</p>
                </div>
                <div class="main__delivery__guarantee-text main__service__sentence__item">
                    <h2 class="h2 main__delivery__guarantee-h2">МЫ ПРЕДЛОГАЕМ</h2>
                    <ol>
                        <li>Обслуживание сплит систем</li>
                        <li>Профилактику и ремонт фанкойлов, чиллеров, VRV и VRF систум</li>
                        <li>Техническое обслуживание всех видов кондиционеров</li>
                        <li>Установа на сплит систему "Зимнего комплекта"</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="main__consultation">
        <div class="container">
            <div class="main__consultation__form">
                <p>ПОЛУЧИТЬ <br>КОНСУЛЬТАЦИЮ <br>МЕНЕДЖЕРА <br>БЕСПЛАТНО</p>
                <form action="stock" method="get" class="main__consultation__form-items">
                    <input name="s" placeholder="Ваше имя" type="stock" class="main__consultation__form-name">
                    <input name="s" placeholder="Ваш телефон" type="stock" class="main__consultation__form-phone">
                    <button type="submit" class="main__consultation__button">
                        получить
                    </button>
                </form>
            </div>
        </div>
    </div>
</main>