<section class="main__services">
    <h2 class="h2">НАШИ УСЛУГИ</h2>
    <div class="main__services__items">
        <div class="main__services__installation">
            <h3 class="main__services__head">ПО УСТАНОВКЕ</h3>
            <ul class="main__services__list">
                <li>Гарантийное и сервисное обслуживание
                    <svg class="site-icon main__services__icon" xmlns="http://www.w3.org/2000/svg">
                        <use xlink:href="img/svg/svg-symbols.svg#information"></use>
                    </svg>
                </li>
                <li>Гарантийное и сервисное обслуживание
                    <svg class="site-icon main__services__icon" xmlns="http://www.w3.org/2000/svg">
                        <use xlink:href="img/svg/svg-symbols.svg#information"></use>
                    </svg>
                </li>
                <li>Гарантийное и сервисное обслуживание
                    <svg class="site-icon main__services__icon" xmlns="http://www.w3.org/2000/svg">
                        <use xlink:href="img/svg/svg-symbols.svg#information"></use>
                    </svg>
                </li>
                <li>Гарантийное и сервисное обслуживание
                    <svg class="site-icon main__services__icon" xmlns="http://www.w3.org/2000/svg">
                        <use xlink:href="img/svg/svg-symbols.svg#information"></use>
                    </svg>
                </li>
            </ul>
        </div>
        <img src="images/conditioner.png" alt="conditioner">
        <div class="main__services__common">
            <h3 class="main__services__head">ОБЩИЕ УСЛУГИ</h3>
            <ul class="main__services__list">
                <li>Гарантийное и сервисное обслуживание
                    <svg class="site-icon main__services__icon" xmlns="http://www.w3.org/2000/svg">
                        <use xlink:href="img/svg/svg-symbols.svg#information"></use>
                    </svg>
                </li>
                <li>Гарантийное и сервисное обслуживание
                    <svg class="site-icon main__services__icon" xmlns="http://www.w3.org/2000/svg">
                        <use xlink:href="img/svg/svg-symbols.svg#information"></use>
                    </svg>
                </li>
                <li>Гарантийное и сервисное обслуживание
                    <svg class="site-icon main__services__icon" xmlns="http://www.w3.org/2000/svg">
                        <use xlink:href="img/svg/svg-symbols.svg#information"></use>
                    </svg>
                </li>
                <li>Гарантийное и сервисное обслуживание
                    <svg class="site-icon main__services__icon" xmlns="http://www.w3.org/2000/svg">
                        <use xlink:href="img/svg/svg-symbols.svg#information"></use>
                    </svg>
                </li>
            </ul>
        </div>
    </div>
</section>
<div class="main__consultation">
    <div class="main__consultation__form">
        <p>ПОЛУЧИТЬ <br>КОНСУЛЬТАЦИЮ <br>МЕНЕДЖЕРА <br>БЕСПЛАТНО</p>
        <form action="stock" method="get" class="main__consultation__form-items">
            <input name="s" placeholder="Ваше имя" type="stock" class="main__consultation__form-name">
            <input name="s" placeholder="Ваш телефон" type="stock" class="main__consultation__form-phone">
            <button type="submit" class="main__consultation__button">
                получить
            </button>
        </form>
    </div>
</div>