<main class="main__split">
    <div class="container">
        <h1 class="h2">СПЛИТ-СИСТЕМЫ <span class="main__split__head">(623 из 623)</span></h1>
        <nav class="main__split__menu">
            <a href="#">Все</a>
            <a href="#">Инверторные</a>
            <a href="#">Бытовые</a>
            <a href="#">Настенные</a>
            <a href="#">Моноблоки</a>
            <a href="#">Переносное</a>
            <a href="#">Недорогое</a>
            <a href="#">Зимний комплект</a>
            <a href="#">Картины</a>
            <a href="#">Черные</a>
            <a href="#">В офис</a>
            <a href="#">С очисткой</a>
            <a href="#">Передвижные</a>
            <a href="#">На 2 комнаты</a>
            <a href="#">Бесшумные</a>
        </nav>
        <div class="main__split__blocks">
            <div class="main__split__systems">
                <div class="main__split__systems__filters">
                    <div class="main__split__systems__filters__item">
                        <span>По цене (возрастанию)</span>
                        <a href="#"  class="main__split__systems__filters__select">
                            <svg class="site-icon filters__icon" xmlns="http://www.w3.org/2000/svg">
                                <use xlink:href="img/svg/svg-symbols.svg#arrow-right"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="main__split__systems__filters__item">
                        <span>Показать 1 - 12</span>
                        <a href="#"  class="main__split__systems__filters__select">
                            <svg class="site-icon filters__icon" xmlns="http://www.w3.org/2000/svg">
                                <use xlink:href="img/svg/svg-symbols.svg#arrow-right"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="main__split__systems__filters__item">
                        <span>Производители</span>
                        <a href="#"  class="main__split__systems__filters__select">
                            <svg class="site-icon filters__icon" xmlns="http://www.w3.org/2000/svg">
                                <use xlink:href="img/svg/svg-symbols.svg#arrow-right"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="main__split__systems__filters-nav-pages">
                        <a class="filters-nav-pages__button" href="#">
                            <svg class="site-icon nav-pages__icon nav-pages__icon-left" xmlns="http://www.w3.org/2000/svg">
                                <use xlink:href="img/svg/svg-symbols.svg#arrow-right"></use>
                            </svg>
                        </a>
                        <a class="filters-nav-pages__number" href="#">1</a>
                        <a class="filters-nav-pages__number" href="#">2</a>
                        <a class="filters-nav-pages__number" href="#">3</a>
                        <a class="filters-nav-pages__number" href="#">8</a>
                        <a class="filters-nav-pages__button" href="#">
                            <svg class="site-icon nav-pages__icon" xmlns="http://www.w3.org/2000/svg">
                                <use xlink:href="img/svg/svg-symbols.svg#arrow-right"></use>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="main__split__systems-items">
                    <figure class="main__prise-item main__split__systems-item">
                        <img class="main__prise__item-img" src="images/conditioner.jpg" alt="conditioner">
                        <span class="main__prise-item__category">Кассетный кондиционер</span>
                        <figcaption class="main__prise-item__name">Candy AQUA 114D2-07</figcaption>
                        <span class="main__prise-item__prise">15 000 руб.</span>
                        <form action="button" method="get" class="main__prise-item__buttons">
                            <button>
                                <img src="img/cart.png" alt="#">
                                <span>в корзину</span>
                            </button>
                            <div class="main__prise-item__icons">
                                <a class="main__prise-item__src-like" href="#">
                                    <svg class="site-icon main__prise-item__like" xmlns="http://www.w3.org/2000/svg">
                                        <use xlink:href="img/svg/svg-symbols.svg#like"></use>
                                    </svg>
                                </a>
                                <a class="main__prise-item__src-line-chart" href="#">
                                    <svg class="site-icon main__prise-item__line-chart" xmlns="http://www.w3.org/2000/svg">
                                        <use xlink:href="img/svg/svg-symbols.svg#line-chart"></use>
                                    </svg>
                                </a>
                            </div>
                        </form>
                    </figure>
                    <figure class="main__prise-item main__split__systems-item">
                        <img class="main__prise__item-img" src="images/conditioner.jpg" alt="conditioner">
                        <span class="main__prise-item__category">Кассетный кондиционер</span>
                        <figcaption class="main__prise-item__name">Candy AQUA 114D2-07</figcaption>
                        <span class="main__prise-item__prise">15 000 руб.</span>
                        <form action="button" method="get" class="main__prise-item__buttons">
                            <button>
                                <img src="img/cart.png" alt="#">
                                <span>в корзину</span>
                            </button>
                            <div class="main__prise-item__icons">
                                <a class="main__prise-item__src-like" href="#">
                                    <svg class="site-icon main__prise-item__like" xmlns="http://www.w3.org/2000/svg">
                                        <use xlink:href="img/svg/svg-symbols.svg#like"></use>
                                    </svg>
                                </a>
                                <a class="main__prise-item__src-line-chart" href="#">
                                    <svg class="site-icon main__prise-item__line-chart" xmlns="http://www.w3.org/2000/svg">
                                        <use xlink:href="img/svg/svg-symbols.svg#line-chart"></use>
                                    </svg>
                                </a>
                            </div>
                        </form>
                    </figure>
                    <figure class="main__prise-item main__split__systems-item">
                        <img class="main__prise__item-img" src="images/conditioner.jpg" alt="conditioner">
                        <span class="main__prise-item__category">Кассетный кондиционер</span>
                        <figcaption class="main__prise-item__name">Candy AQUA 114D2-07</figcaption>
                        <span class="main__prise-item__prise">15 000 руб.</span>
                        <form action="button" method="get" class="main__prise-item__buttons">
                            <button>
                                <img src="img/cart.png" alt="#">
                                <span>в корзину</span>
                            </button>
                            <div class="main__prise-item__icons">
                                <a class="main__prise-item__src-like" href="#">
                                    <svg class="site-icon main__prise-item__like" xmlns="http://www.w3.org/2000/svg">
                                        <use xlink:href="img/svg/svg-symbols.svg#like"></use>
                                    </svg>
                                </a>
                                <a class="main__prise-item__src-line-chart" href="#">
                                    <svg class="site-icon main__prise-item__line-chart" xmlns="http://www.w3.org/2000/svg">
                                        <use xlink:href="img/svg/svg-symbols.svg#line-chart"></use>
                                    </svg>
                                </a>
                            </div>
                        </form>
                    </figure>
                    <figure class="main__prise-item main__split__systems-item">
                        <img class="main__prise__item-img" src="images/conditioner.jpg" alt="conditioner">
                        <span class="main__prise-item__category">Кассетный кондиционер</span>
                        <figcaption class="main__prise-item__name">Candy AQUA 114D2-07</figcaption>
                        <span class="main__prise-item__prise">15 000 руб.</span>
                        <form action="button" method="get" class="main__prise-item__buttons">
                            <button>
                                <img src="img/cart.png" alt="#">
                                <span>в корзину</span>
                            </button>
                            <div class="main__prise-item__icons">
                                <a class="main__prise-item__src-like" href="#">
                                    <svg class="site-icon main__prise-item__like" xmlns="http://www.w3.org/2000/svg">
                                        <use xlink:href="img/svg/svg-symbols.svg#like"></use>
                                    </svg>
                                </a>
                                <a class="main__prise-item__src-line-chart" href="#">
                                    <svg class="site-icon main__prise-item__line-chart" xmlns="http://www.w3.org/2000/svg">
                                        <use xlink:href="img/svg/svg-symbols.svg#line-chart"></use>
                                    </svg>
                                </a>
                            </div>
                        </form>
                    </figure>
                    <figure class="main__prise-item main__split__systems-item">
                        <img class="main__prise__item-img" src="images/conditioner.jpg" alt="conditioner">
                        <span class="main__prise-item__category">Кассетный кондиционер</span>
                        <figcaption class="main__prise-item__name">Candy AQUA 114D2-07</figcaption>
                        <span class="main__prise-item__prise">15 000 руб.</span>
                        <form action="button" method="get" class="main__prise-item__buttons">
                            <button>
                                <img src="img/cart.png" alt="#">
                                <span>в корзину</span>
                            </button>
                            <div class="main__prise-item__icons">
                                <a class="main__prise-item__src-like" href="#">
                                    <svg class="site-icon main__prise-item__like" xmlns="http://www.w3.org/2000/svg">
                                        <use xlink:href="img/svg/svg-symbols.svg#like"></use>
                                    </svg>
                                </a>
                                <a class="main__prise-item__src-line-chart" href="#">
                                    <svg class="site-icon main__prise-item__line-chart" xmlns="http://www.w3.org/2000/svg">
                                        <use xlink:href="img/svg/svg-symbols.svg#line-chart"></use>
                                    </svg>
                                </a>
                            </div>
                        </form>
                    </figure>
                    <figure class="main__prise-item main__split__systems-item">
                        <img class="main__prise__item-img" src="images/conditioner.jpg" alt="conditioner">
                        <span class="main__prise-item__category">Кассетный кондиционер</span>
                        <figcaption class="main__prise-item__name">Candy AQUA 114D2-07</figcaption>
                        <span class="main__prise-item__prise">15 000 руб.</span>
                        <form action="button" method="get" class="main__prise-item__buttons">
                            <button>
                                <img src="img/cart.png" alt="#">
                                <span>в корзину</span>
                            </button>
                            <div class="main__prise-item__icons">
                                <a class="main__prise-item__src-like" href="#">
                                    <svg class="site-icon main__prise-item__like" xmlns="http://www.w3.org/2000/svg">
                                        <use xlink:href="img/svg/svg-symbols.svg#like"></use>
                                    </svg>
                                </a>
                                <a class="main__prise-item__src-line-chart" href="#">
                                    <svg class="site-icon main__prise-item__line-chart" xmlns="http://www.w3.org/2000/svg">
                                        <use xlink:href="img/svg/svg-symbols.svg#line-chart"></use>
                                    </svg>
                                </a>
                            </div>
                        </form>
                    </figure>
                    <figure class="main__prise-item main__split__systems-item">
                        <img class="main__prise__item-img" src="images/conditioner.jpg" alt="conditioner">
                        <span class="main__prise-item__category">Кассетный кондиционер</span>
                        <figcaption class="main__prise-item__name">Candy AQUA 114D2-07</figcaption>
                        <span class="main__prise-item__prise">15 000 руб.</span>
                        <form action="button" method="get" class="main__prise-item__buttons">
                            <button>
                                <img src="img/cart.png" alt="#">
                                <span>в корзину</span>
                            </button>
                            <div class="main__prise-item__icons">
                                <a class="main__prise-item__src-like" href="#">
                                    <svg class="site-icon main__prise-item__like" xmlns="http://www.w3.org/2000/svg">
                                        <use xlink:href="img/svg/svg-symbols.svg#like"></use>
                                    </svg>
                                </a>
                                <a class="main__prise-item__src-line-chart" href="#">
                                    <svg class="site-icon main__prise-item__line-chart" xmlns="http://www.w3.org/2000/svg">
                                        <use xlink:href="img/svg/svg-symbols.svg#line-chart"></use>
                                    </svg>
                                </a>
                            </div>
                        </form>
                    </figure>
                    <figure class="main__prise-item main__split__systems-item">
                        <img class="main__prise__item-img" src="images/conditioner.jpg" alt="conditioner">
                        <span class="main__prise-item__category">Кассетный кондиционер</span>
                        <figcaption class="main__prise-item__name">Candy AQUA 114D2-07</figcaption>
                        <span class="main__prise-item__prise">15 000 руб.</span>
                        <form action="button" method="get" class="main__prise-item__buttons">
                            <button>
                                <img src="img/cart.png" alt="#">
                                <span>в корзину</span>
                            </button>
                            <div class="main__prise-item__icons">
                                <a class="main__prise-item__src-like" href="#">
                                    <svg class="site-icon main__prise-item__like" xmlns="http://www.w3.org/2000/svg">
                                        <use xlink:href="img/svg/svg-symbols.svg#like"></use>
                                    </svg>
                                </a>
                                <a class="main__prise-item__src-line-chart" href="#">
                                    <svg class="site-icon main__prise-item__line-chart" xmlns="http://www.w3.org/2000/svg">
                                        <use xlink:href="img/svg/svg-symbols.svg#line-chart"></use>
                                    </svg>
                                </a>
                            </div>
                        </form>
                    </figure>
                    <figure class="main__prise-item main__split__systems-item">
                        <img class="main__prise__item-img" src="images/conditioner.jpg" alt="conditioner">
                        <span class="main__prise-item__category">Кассетный кондиционер</span>
                        <figcaption class="main__prise-item__name">Candy AQUA 114D2-07</figcaption>
                        <span class="main__prise-item__prise">15 000 руб.</span>
                        <form action="button" method="get" class="main__prise-item__buttons">
                            <button>
                                <img src="img/cart.png" alt="#">
                                <span>в корзину</span>
                            </button>
                            <div class="main__prise-item__icons">
                                <a class="main__prise-item__src-like" href="#">
                                    <svg class="site-icon main__prise-item__like" xmlns="http://www.w3.org/2000/svg">
                                        <use xlink:href="img/svg/svg-symbols.svg#like"></use>
                                    </svg>
                                </a>
                                <a class="main__prise-item__src-line-chart" href="#">
                                    <svg class="site-icon main__prise-item__line-chart" xmlns="http://www.w3.org/2000/svg">
                                        <use xlink:href="img/svg/svg-symbols.svg#line-chart"></use>
                                    </svg>
                                </a>
                            </div>
                        </form>
                    </figure>
                    <figure class="main__prise-item main__split__systems-item">
                        <img class="main__prise__item-img" src="images/conditioner.jpg" alt="conditioner">
                        <span class="main__prise-item__category">Кассетный кондиционер</span>
                        <figcaption class="main__prise-item__name">Candy AQUA 114D2-07</figcaption>
                        <span class="main__prise-item__prise">15 000 руб.</span>
                        <form action="button" method="get" class="main__prise-item__buttons">
                            <button>
                                <img src="img/cart.png" alt="#">
                                <span>в корзину</span>
                            </button>
                            <div class="main__prise-item__icons">
                                <a class="main__prise-item__src-like" href="#">
                                    <svg class="site-icon main__prise-item__like" xmlns="http://www.w3.org/2000/svg">
                                        <use xlink:href="img/svg/svg-symbols.svg#like"></use>
                                    </svg>
                                </a>
                                <a class="main__prise-item__src-line-chart" href="#">
                                    <svg class="site-icon main__prise-item__line-chart" xmlns="http://www.w3.org/2000/svg">
                                        <use xlink:href="img/svg/svg-symbols.svg#line-chart"></use>
                                    </svg>
                                </a>
                            </div>
                        </form>
                    </figure>
                    <figure class="main__prise-item main__split__systems-item">
                        <img class="main__prise__item-img" src="images/conditioner.jpg" alt="conditioner">
                        <span class="main__prise-item__category">Кассетный кондиционер</span>
                        <figcaption class="main__prise-item__name">Candy AQUA 114D2-07</figcaption>
                        <span class="main__prise-item__prise">15 000 руб.</span>
                        <form action="button" method="get" class="main__prise-item__buttons">
                            <button>
                                <img src="img/cart.png" alt="#">
                                <span>в корзину</span>
                            </button>
                            <div class="main__prise-item__icons">
                                <a class="main__prise-item__src-like" href="#">
                                    <svg class="site-icon main__prise-item__like" xmlns="http://www.w3.org/2000/svg">
                                        <use xlink:href="img/svg/svg-symbols.svg#like"></use>
                                    </svg>
                                </a>
                                <a class="main__prise-item__src-line-chart" href="#">
                                    <svg class="site-icon main__prise-item__line-chart" xmlns="http://www.w3.org/2000/svg">
                                        <use xlink:href="img/svg/svg-symbols.svg#line-chart"></use>
                                    </svg>
                                </a>
                            </div>
                        </form>
                    </figure>
                    <figure class="main__prise-item main__split__systems-item">
                        <img class="main__prise__item-img" src="images/conditioner.jpg" alt="conditioner">
                        <span class="main__prise-item__category">Кассетный кондиционер</span>
                        <figcaption class="main__prise-item__name">Candy AQUA 114D2-07</figcaption>
                        <span class="main__prise-item__prise">15 000 руб.</span>
                        <form action="button" method="get" class="main__prise-item__buttons">
                            <button>
                                <img src="img/cart.png" alt="#">
                                <span>в корзину</span>
                            </button>
                            <div class="main__prise-item__icons">
                                <a class="main__prise-item__src-like" href="#">
                                    <svg class="site-icon main__prise-item__like" xmlns="http://www.w3.org/2000/svg">
                                        <use xlink:href="img/svg/svg-symbols.svg#like"></use>
                                    </svg>
                                </a>
                                <a class="main__prise-item__src-line-chart" href="#">
                                    <svg class="site-icon main__prise-item__line-chart" xmlns="http://www.w3.org/2000/svg">
                                        <use xlink:href="img/svg/svg-symbols.svg#line-chart"></use>
                                    </svg>
                                </a>
                            </div>
                        </form>
                    </figure>
                    <figure class="main__prise-item main__split__systems-item">
                        <img class="main__prise__item-img" src="images/conditioner.jpg" alt="conditioner">
                        <span class="main__prise-item__category">Кассетный кондиционер</span>
                        <figcaption class="main__prise-item__name">Candy AQUA 114D2-07</figcaption>
                        <span class="main__prise-item__prise">15 000 руб.</span>
                        <form action="button" method="get" class="main__prise-item__buttons">
                            <button>
                                <img src="img/cart.png" alt="#">
                                <span>в корзину</span>
                            </button>
                            <div class="main__prise-item__icons">
                                <a class="main__prise-item__src-like" href="#">
                                    <svg class="site-icon main__prise-item__like" xmlns="http://www.w3.org/2000/svg">
                                        <use xlink:href="img/svg/svg-symbols.svg#like"></use>
                                    </svg>
                                </a>
                                <a class="main__prise-item__src-line-chart" href="#">
                                    <svg class="site-icon main__prise-item__line-chart" xmlns="http://www.w3.org/2000/svg">
                                        <use xlink:href="img/svg/svg-symbols.svg#line-chart"></use>
                                    </svg>
                                </a>
                            </div>
                        </form>
                    </figure>
                    <figure class="main__prise-item main__split__systems-item">
                        <img class="main__prise__item-img" src="images/conditioner.jpg" alt="conditioner">
                        <span class="main__prise-item__category">Кассетный кондиционер</span>
                        <figcaption class="main__prise-item__name">Candy AQUA 114D2-07</figcaption>
                        <span class="main__prise-item__prise">15 000 руб.</span>
                        <form action="button" method="get" class="main__prise-item__buttons">
                            <button>
                                <img src="img/cart.png" alt="#">
                                <span>в корзину</span>
                            </button>
                            <div class="main__prise-item__icons">
                                <a class="main__prise-item__src-like" href="#">
                                    <svg class="site-icon main__prise-item__like" xmlns="http://www.w3.org/2000/svg">
                                        <use xlink:href="img/svg/svg-symbols.svg#like"></use>
                                    </svg>
                                </a>
                                <a class="main__prise-item__src-line-chart" href="#">
                                    <svg class="site-icon main__prise-item__line-chart" xmlns="http://www.w3.org/2000/svg">
                                        <use xlink:href="img/svg/svg-symbols.svg#line-chart"></use>
                                    </svg>
                                </a>
                            </div>
                        </form>
                    </figure>
                    <figure class="main__prise-item main__split__systems-item">
                        <img class="main__prise__item-img" src="images/conditioner.jpg" alt="conditioner">
                        <span class="main__prise-item__category">Кассетный кондиционер</span>
                        <figcaption class="main__prise-item__name">Candy AQUA 114D2-07</figcaption>
                        <span class="main__prise-item__prise">15 000 руб.</span>
                        <form action="button" method="get" class="main__prise-item__buttons">
                            <button>
                                <img src="img/cart.png" alt="#">
                                <span>в корзину</span>
                            </button>
                            <div class="main__prise-item__icons">
                                <a class="main__prise-item__src-like" href="#">
                                    <svg class="site-icon main__prise-item__like" xmlns="http://www.w3.org/2000/svg">
                                        <use xlink:href="img/svg/svg-symbols.svg#like"></use>
                                    </svg>
                                </a>
                                <a class="main__prise-item__src-line-chart" href="#">
                                    <svg class="site-icon main__prise-item__line-chart" xmlns="http://www.w3.org/2000/svg">
                                        <use xlink:href="img/svg/svg-symbols.svg#line-chart"></use>
                                    </svg>
                                </a>
                            </div>
                        </form>
                    </figure>
                </div>
            </div>
            <aside class="aside__split__filters">
                <div class="aside__split__filters__prise">
                    <span>Цена.руб</span>
                    <img src="img/progress-bar.png" alt="#">
                    <form class="aside__split__filters__prise__checkbox" method="post" action="input5.php">
                        <div class="aside__split__filters__prise-active">
                            <button type="submit" class="prise-button">
                                применить
                            </button>
                            <span class="prise-start">12000</span>
                            <span class="prise-dash">-</span>
                            <input name="stock-phone" placeholder="100 000" type="prise" class="prise-before">
                            <span class="prise-before-item">до</span>
                        </div>
                        <div class="prise-checkbox">
                            <input type="checkbox" name="option1" value="a1"><span>Со скидкой</span>
                        </div>
                        <div class="prise-checkbox">
                            <input type="checkbox" name="option2" value="a2"><span>С бесплатной доставкой</span>
                        </div>
                    </form>
                </div>
                <div class="aside__split__filters__manufacture">
                    <h2 class="aside__split__filters__head">Производитель</h2>
                    <form class="aside__split__filters__manufacture__checkbox" method="post" action="input5.php">
                        <div class="manufacture__checkbox">
                            <input type="checkbox" name="option1" value="a1"><span>Berloni</span>
                        </div>
                        <div class="manufacture__checkbox">
                            <input type="checkbox" name="option2" value="a2"><span>Bosch</span>
                        </div>
                        <div class="manufacture__checkbox">
                            <input type="checkbox" name="option3" value="a3"><span>Caso</span>
                        </div>
                        <div class="manufacture__checkbox">
                            <input type="checkbox" name="option4" value="a4"><span>Colet</span>
                        </div>
                        <div class="manufacture__checkbox">
                            <input type="checkbox" name="option5" value="a5"><span>De’Longhi</span>
                        </div>
                    </form>
                </div>
                <div class="aside__split__filters__area">
                    <h2 class="aside__split__filters__head">Обслуживаемая площадь</h2>
                    <img src="img/arow-right.png" alt="#">
                </div>
                <div class="aside__split__filters__inverter">
                    <h2 class="aside__split__filters__head">Инвертор</h2>
                    <img src="img/arow-right.png" alt="#">
                </div>
                <div class="aside__split__filters__modes">
                    <h2 class="aside__split__filters__head">Основные режимы</h2>
                    <img src="img/arow-right.png" alt="#">
                </div>
                <div class="aside__split__filters__color">
                    <h2 class="aside__split__filters__head">Цвет</h2>
                    <img src="img/arow-right.png" alt="#">
                </div>
            </aside>
        </div>
        <h3 class="card-product-h3 aside__card-product-h3">популярные товары / <span>хиты продаж</span></h3>
        <div class="main__prise">
            <figure class="main__prise-item">
                <img class="main__prise__item-img" src="images/conditioner.jpg" alt="conditioner">
                <span class="main__prise-item__category">Кассетный кондиционер</span>
                <figcaption class="main__prise-item__name">Candy AQUA 114D2-07</figcaption>
                <span class="main__prise-item__prise">15 000 руб.</span>
                <form action="button" method="get" class="main__prise-item__buttons">
                    <button>
                        <img src="img/cart.png" alt="#">
                        <span>в корзину</span>
                    </button>
                    <div class="main__prise-item__icons">
                        <a class="main__prise-item__src-like" href="#">
                            <svg class="site-icon main__prise-item__like" xmlns="http://www.w3.org/2000/svg">
                                <use xlink:href="img/svg/svg-symbols.svg#like"></use>
                            </svg>
                        </a>
                        <a class="main__prise-item__src-line-chart" href="#">
                            <svg class="site-icon main__prise-item__line-chart" xmlns="http://www.w3.org/2000/svg">
                                <use xlink:href="img/svg/svg-symbols.svg#line-chart"></use>
                            </svg>
                        </a>
                    </div>
                </form>
            </figure>
            <figure class="main__prise-item">
                <img class="main__prise__item-img" src="images/conditioner.jpg" alt="conditioner">
                <span class="main__prise-item__category">Кассетный кондиционер</span>
                <figcaption class="main__prise-item__name">Candy AQUA 114D2-07</figcaption>
                <span class="main__prise-item__prise">15 000 руб.</span>
                <form action="button" method="get" class="main__prise-item__buttons">
                    <button>
                        <img src="img/cart.png" alt="#">
                        <span>в корзину</span>
                    </button>
                    <div class="main__prise-item__icons">
                        <a class="main__prise-item__src-like" href="#">
                            <svg class="site-icon main__prise-item__like" xmlns="http://www.w3.org/2000/svg">
                                <use xlink:href="img/svg/svg-symbols.svg#like"></use>
                            </svg>
                        </a>
                        <a class="main__prise-item__src-line-chart" href="#">
                            <svg class="site-icon main__prise-item__line-chart" xmlns="http://www.w3.org/2000/svg">
                                <use xlink:href="img/svg/svg-symbols.svg#line-chart"></use>
                            </svg>
                        </a>
                    </div>
                </form>
            </figure>
            <figure class="main__prise-item">
                <img class="main__prise__item-img" src="images/conditioner.jpg" alt="conditioner">
                <span class="main__prise-item__category">Кассетный кондиционер</span>
                <figcaption class="main__prise-item__name">Candy AQUA 114D2-07</figcaption>
                <span class="main__prise-item__prise">15 000 руб.</span>
                <form action="button" method="get" class="main__prise-item__buttons">
                    <button>
                        <img src="img/cart.png" alt="#">
                        <span>в корзину</span>
                    </button>
                    <div class="main__prise-item__icons">
                        <a class="main__prise-item__src-like" href="#">
                            <svg class="site-icon main__prise-item__like" xmlns="http://www.w3.org/2000/svg">
                                <use xlink:href="img/svg/svg-symbols.svg#like"></use>
                            </svg>
                        </a>
                        <a class="main__prise-item__src-line-chart" href="#">
                            <svg class="site-icon main__prise-item__line-chart" xmlns="http://www.w3.org/2000/svg">
                                <use xlink:href="img/svg/svg-symbols.svg#line-chart"></use>
                            </svg>
                        </a>
                    </div>
                </form>
            </figure>
            <figure class="main__prise-item">
                <img class="main__prise__item-img" src="images/conditioner.jpg" alt="conditioner">
                <span class="main__prise-item__category">Кассетный кондиционер</span>
                <figcaption class="main__prise-item__name">Candy AQUA 114D2-07</figcaption>
                <span class="main__prise-item__prise">15 000 руб.</span>
                <form action="button" method="get" class="main__prise-item__buttons">
                    <button>
                        <img src="img/cart.png" alt="#">
                        <span>в корзину</span>
                    </button>
                    <div class="main__prise-item__icons">
                        <a class="main__prise-item__src-like" href="#">
                            <svg class="site-icon main__prise-item__like" xmlns="http://www.w3.org/2000/svg">
                                <use xlink:href="img/svg/svg-symbols.svg#like"></use>
                            </svg>
                        </a>
                        <a class="main__prise-item__src-line-chart" href="#">
                            <svg class="site-icon main__prise-item__line-chart" xmlns="http://www.w3.org/2000/svg">
                                <use xlink:href="img/svg/svg-symbols.svg#line-chart"></use>
                            </svg>
                        </a>
                    </div>
                </form>
            </figure>
        </div>
    </div>
</main>