<section class="main__stock">
    <h2 class="h2">АКЦИИ И СКИДКИ</h2>
    <div class="main__stock__slider">
        <div class="main__stock__slider-items">
            <!--  <div class="main__stock__slider-img">
                  <img src="images/slid-sale.jpg" alt="slid-sale">
              </div>-->
            <div class="main__stock__slider-text">
                <h2 class="h2 main__stock__slider-h2">ПОЛУЧИТЕ СКИДКУ <span>7%</span></h2>
                <p>Просто закажите более двух кондиционеров<br> и получите наше щедрое предложение</p>
                <a href="#">узнать больше</a>
            </div>
        </div>
        <div class="main__stock__form">
            <p>ХОТИТЕ <br>ПОЛУЧИТЬ <br>СКИДКУ ПРЯМО <br>СЕЙЧАС ?</p>
            <form action="stock" method="get" class="main__stock__form-items">
                <input name="s" placeholder="Ваше имя" type="stock" class="main__stock__form-name">
                <input name="s" placeholder="Ваш телефон" type="stock" class="main__stock__form-phone">
                <button type="submit" class="main__stock__button">
                    хочу !
                </button>
            </form>
        </div>
    </div>
</section>
<div class="main__consultation">
    <div class="main__consultation__form">
        <p>ПОЛУЧИТЬ <br>КОНСУЛЬТАЦИЮ <br>МЕНЕДЖЕРА <br>БЕСПЛАТНО</p>
        <form action="stock" method="get" class="main__consultation__form-items">
            <input name="s" placeholder="Ваше имя" type="stock" class="main__consultation__form-name">
            <input name="s" placeholder="Ваш телефон" type="stock" class="main__consultation__form-phone">
            <button type="submit" class="main__consultation__button">
                получить
            </button>
        </form>
    </div>
</div>