<main class="main__stock-sale-general">
    <div class="container">
        <h1 class="main__h1">акции и скидки</h1>
        <div class="main__stock-sale-general__item">
            <img src="images/slid-sale.jpg" alt="#">
            <div class="main__stock-sale-general__item-text">
                <span>Скидка</span>
                <h2>Скидка Получите скидку 7 % при заказе двух кондиционеров</h2>
                <a href="#">подробнее</a>
            </div>
        </div>
        <div class="main__stock-sale-general__item">
            <img src="images/slid-sale.jpg" alt="#">
            <div class="main__stock-sale-general__item-text">
                <span>Скидка</span>
                <h2>Скидка Получите скидку 7 % при заказе двух кондиционеров</h2>
                <a href="#">подробнее</a>
            </div>
        </div>
        <div class="main__stock-sale-general__item">
            <img src="images/slid-sale.jpg" alt="#">
            <div class="main__stock-sale-general__item-text">
                <span>Скидка</span>
                <h2>Скидка Получите скидку 7 % при заказе двух кондиционеров</h2>
                <a href="#">подробнее</a>
            </div>
        </div>
        <div class="main__stock-sale-general__item">
            <img src="images/slid-sale.jpg" alt="#">
            <div class="main__stock-sale-general__item-text">
                <span>Скидка</span>
                <h2>Скидка Получите скидку 7 % при заказе двух кондиционеров</h2>
                <a href="#">подробнее</a>
            </div>
        </div>
    </div>
</main>