<main class="main__vrv-vrf">
    <h1 class="main__h1">VRV И VRF СИСТЕМЫ</h1>
    <div class="main__vrv-vrf__video">
        <div class="main__vrv-vrf__video-text">
            <p>Ощущайте комфортный микроклимат на работе, и дома круглый год благодаря сплит-системе Electrolux Portofino. Сплит-система охлаждает воздух в летний период, и нагревает его в холодное время года.</p>
            <ul>
                <li>При необходимости, можно выбрать режим вентиляции или режим осушения, чтобы убрать излишнюю влажность.</li>
                <li>Встроенный автоматический режим работы сплит-системы обеспечивает поддержание комфортных условий</li>
                <li>Быстрый монтаж, электронное управление и продуманный дизайн подарят Вам желаемые ощущения комфорта.</li>
            </ul>
        </div>
        <div class="main__vrv-vrf__video-item">
            <img src="images/video.jpg" alt="#">
        </div>
    </div>
    <div class="main__vrv-vrf-photo">
        <img class="main__vrv-vrf-photo-installation" src="images/montadh.jpg" alt="montadh">
        <img class="main__vrv-vrf-photo-vrv" src="images/vrv.jpg" alt="vrv">
    </div>
    <div class="main__vrv-vrf__problems">
        <h2 class="main__h2">У ВАС ОДНА ИЗ ЭТИХ ПРОБЛЕМ ?</h2>
        <div class="main__vrv-vrf__problems-items">
            <ul>
                <li>Кондиционер не включается или не выключается
                    <span>
                        <svg class="site-icon main__vrv-vrf__problems-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 485.2 485.2">
                            <use xlink:href="img/svg/svg-symbols.svg#coin-stack"></use>
                        </svg>500р.
                    </span>
                </li>
                <li>Из кондиционера дует теплый воздух
                    <span>
                        <svg class="site-icon main__vrv-vrf__problems-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 485.2 485.2">
                            <use xlink:href="img/svg/svg-symbols.svg#coin-stack"></use>
                        </svg>1000р.
                    </span>
                </li>
                <li>Кондиционер не включается или не выключается
                    <span>
                        <svg class="site-icon main__vrv-vrf__problems-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 485.2 485.2">
                            <use xlink:href="img/svg/svg-symbols.svg#coin-stack"></use>
                        </svg>1000р.
                    </span>
                </li>
                <li>Обмерзает радиатор внутреннего блока
                    <span>
                        <svg class="site-icon main__vrv-vrf__problems-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 485.2 485.2">
                            <use xlink:href="img/svg/svg-symbols.svg#coin-stack"></use>
                        </svg>4000р.
                    </span>
                </li>
                <li>Кондиционер не включается или не выключается
                    <span>
                        <svg class="site-icon main__vrv-vrf__problems-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 485.2 485.2">
                            <use xlink:href="img/svg/svg-symbols.svg#coin-stack"></use>
                        </svg>1000р.
                    </span>
                </li>
                <li>Из кондиционера идет неприятный запах
                    <span>
                        <svg class="site-icon main__vrv-vrf__problems-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 485.2 485.2">
                            <use xlink:href="img/svg/svg-symbols.svg#coin-stack"></use>
                        </svg>1000р.
                    </span>
                </li>
            </ul>
            <ul>
                <li>Из кондиционера идет неприятный запах
                    <span>
                        <svg class="site-icon main__vrv-vrf__problems-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 485.2 485.2">
                            <use xlink:href="img/svg/svg-symbols.svg#coin-stack"></use>
                        </svg>1000р.
                    </span>
                </li>
                <li>Из кондиционера идет неприятный запах
                    <span>
                        <svg class="site-icon main__vrv-vrf__problems-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 485.2 485.2">
                            <use xlink:href="img/svg/svg-symbols.svg#coin-stack"></use>
                        </svg>1000р.
                    </span>
                </li>
                <li>Из кондиционера идет неприятный запах
                    <span>
                        <svg class="site-icon main__vrv-vrf__problems-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 485.2 485.2">
                            <use xlink:href="img/svg/svg-symbols.svg#coin-stack"></use>
                        </svg>1000р.
                    </span>
                </li>
                <li>Из кондиционера идет неприятный запах
                    <span>
                        <svg class="site-icon main__vrv-vrf__problems-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 485.2 485.2">
                            <use xlink:href="img/svg/svg-symbols.svg#coin-stack"></use>
                        </svg>1000р.
                    </span>
                </li>
                <li>Из кондиционера идет неприятный запах
                    <span>
                        <svg class="site-icon main__vrv-vrf__problems-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 485.2 485.2">
                            <use xlink:href="img/svg/svg-symbols.svg#coin-stack"></use>
                        </svg>1000р.
                    </span>
                </li>
                <li>Из кондиционера идет неприятный запах
                    <span>
                        <svg class="site-icon main__vrv-vrf__problems-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 485.2 485.2">
                            <use xlink:href="img/svg/svg-symbols.svg#coin-stack"></use>
                        </svg>1000р.
                    </span>
                </li>
            </ul>
        </div>
    </div>
    <div class="main__instruction__bid">
        <form action="bid" method="get" class="main__instruction__bid__form">
            <input name="s" placeholder="Ваш телефон" type="bid" class="main__instruction__bid__form-phone">
            <button type="submit" class="main__instruction__bid__button">
                оставить заявку
            </button>
        </form>
        <span>или</span>
        <div class="main__instruction__bid-contacts">
            <div class="main__instruction__bid-phones">
                <svg class="site-icon main__instruction__bid__icon" xmlns="http://www.w3.org/2000/svg">
                    <use xlink:href="img/svg/svg-symbols.svg#smartphone"></use>
                </svg>
                <div class="main__instruction__bid-phone-numbers">
                    <address>8 (925) 853 - 93 - 67</address>
                    <address>8 (499) 390 - 73 - 32</address>
                </div>
            </div>
            <div class="main__instruction__bid-mail">
                <svg class="site-icon main__instruction__bid__icon" xmlns="http://www.w3.org/2000/svg">
                    <use xlink:href="img/svg/svg-symbols.svg#contact"></use>
                </svg>
                <address>info@retro-climat.me</address>
            </div>
        </div>
    </div>
</main>