.footer{
    background-color: #222222;
    padding: 40px 0 10px 0;
    color: #ffffff;
    margin-top: 25px;
}

.footer__general{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer__general-nav-block{
    display: flex;
    flex-wrap: wrap;
}

.footer__head{
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
}
.footer__nav ul li a, .footer__conditioners ul li a{
    color: #888888;
    padding: 5px 0;
    display: block;
    text-decoration: none;
}

.footer__conditioners{
    margin-left: 50px;
}

.footer__contacts__phone{
    margin-bottom: 60px;
}

.footer__contacts__phone-items{
    display: flex;
    align-items: center;
    margin-left: -10px;
}
.footer__contacts__phone__icon{
    fill: #ffffff;
    font-size: 3em;
}
.footer__contacts__phone-numbers{
    padding-left: 5px;
}
.footer__contacts__phone-numbers address{
    font-weight: bold;
    font-size: 1.2em;
    border-left: 1px solid #7a7a7a;
    padding: 0 10px;
}

.footer__call-my{
    margin-top: 15px;
}

.footer__call-my a {
    background-color: #2e6ed5;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
}

.footer__call-my__text{
    color: #ffffff;
    margin-left: 15px;
    font-weight: bold;
}

.footer__base{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 50px;
}

.footer__base small{
    color: #888888;
}

.footer__base__yandex_market{
    display: flex;
}

.footer__base__yandex_market p{
    font-size: 0.8em;
}

.footer__base__yandex_market img{
    margin-left: 10px;
}

/*footer end*/

@media screen and (max-width: 900px){
    .footer__contacts{
        margin-top: 10px;
    }

    .footer__general{
        justify-content: center;
    }
}

@media screen and (max-width: 830px){
    .footer__base{
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }

    .footer__base__social{
        margin: 10px 0;
    }

    .footer__contacts{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer__contacts__phone-items{
        justify-content: center;
    }footer__general-nav-block

    .footer__contacts__payment{
        text-align: center;
    }
}

@media screen and (max-width: 670px){
    .footer__general-nav-block{
        flex-direction: column;
        align-items: center;
    }

    .footer__conditioners{
        margin: 10px 0;
        text-align: center;
    }
    .footer__nav{
        text-align: center;
    }
}