.footer{
    display: flex;
    flex-wrap: wrap;
    background-color: #222222;
    padding: 40px 0 10px 0;
    color: #ffffff;
    margin-top: 25px;
    position: relative;
}

.footer__general{
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

/*
.footer:after{
    content: "";
    height: 100%;
    width: 100vw;
    display: block;
    background-color: inherit;
    position: absolute;
    top: 0;
    z-index: -1;
    margin: auto;
    left: -50vw;
    right: -50vw;
}
*/

.footer__head{
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
}
.footer__nav ul li a, .footer__conditioners ul li a{
    color: #888888;
    padding: 5px 0;
    display: block;
    text-decoration: none;
}

.footer__conditioners{
    margin-left: 50px;
}

.footer__contacts{
    margin-left: 200px;
}

.footer__contacts__phone{
    margin-bottom: 60px;
}

.footer__contacts__phone-numbers{
    font-size: 1.2em;
    font-weight: bold;
}

.footer__call-my{
    margin-top: 15px;
}

.footer__call-my a {
    background-color: #2e6ed5;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
}

.footer__call-my__text{
    color: #ffffff;
    margin-left: 15px;
    font-weight: bold;
}

.footer__base{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    min-width: 1070px;
}

.footer__base small{
    color: #888888;
}

.footer__base__yandex_market{
    display: flex;
}

.footer__base__yandex_market p{
    font-size: 0.8em;
}

.footer__base__yandex_market img{
    margin-left: 10px;
}