.main__banner{
    background-image: url("../images/bannerbgcopy.png");
    background-position: center;
    color: #ffffff;
    position: relative;
}

.main__banner-head{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 100px;
}

.main__banner-head h1{
    color: #ffffff;
    text-transform: uppercase;
    font-size: 2em;
    font-weight: bold;
}

.main__banner-head a{
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px 30px 10px 30px;
    border: 2px solid #f26522;
    border-radius: 5px;
}

.main__banner__advantages{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 40px;
}

.main__banner__advantages__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 10px;
    border-bottom: 1px solid #ffffff;
}

.main__banner__advantages__item-icon{
    font-size: 3em;
    margin-bottom: 10px;
}

.main__banner__advantages__item-text{
    text-align: center;
}

.main__banner__advantages__item-bold{
    font-weight: bold;
}

/*main__banner end*/

.h2{
    margin: 50px 0 20px 0;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    color: #000;
}

.main__hits span{
    color: #f26522;
}

/*main__hits end*/

.main__catalog h2{
    margin-top: 50px;
    padding-bottom: 20px;
}

.main__catalog__nav{
    text-align: center;
    margin-top: 20px;
}

.main__catalog__nav a{
    color: #2e6ed5;
    display: inline-block;
    padding: 20px;
    border-right: 1px solid #2e6ed5;
}

.main__catalog__nav a:last-child {
    border-right: none;
}

.main__catalog__nav a:first-child{
    background-color: #2e6ed5;
    color: #ffffff;
    border-radius: 5px;
}

.main__catalog__manufacturers-general{
    background-color: #2e6ed5;
    padding-bottom: 20px;
}

.main__catalog__items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 20px;
}

.main__catalog__item{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 0;
    flex-basis: calc(25% - 30px);
    margin-bottom: 30px;
}

.main__catalog__item img{
    padding: 10px 30px;
}

.main__catalog__item figcaption{
    font-weight: bold;
    margin-bottom: 20px;
}

.main__catalog__quantity{
    color: #a5a5a5;
    padding: 0 5px;
    border-top: 1px solid #a5a5a5;
}

.main__catalog__prise{
    color: #2e6ed5;
    padding: 0 5px;
    border-bottom: 1px solid #a5a5a5;
    border-left: 1px solid #a5a5a5;
}

.main__catalog__manufacturers{
    color: #ffffff;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
}

.main__catalog__manufacturers-icon{
    fill: #ffffff;
    margin: 0 5px;
    transform: rotate(90deg);
}

.main__catalog__consultation{
    background-image: url("../images/bg-consultation.jpg");
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 50px 20px;
}

.main__catalog__consultation span{
    text-transform: uppercase;
    color: #2e6ed5;
    font-size: 1.3em;
    font-weight: bold;
    padding-left: 150px;
}

.main__catalog__consultation__form{
    display: flex;
    justify-content: space-between;
}

.main__catalog__consultation__form input{
    padding: 10px;
    border: none;
}

.main__catalog__consultation__form-input{
    flex-grow: 1;
}

.main__catalog__consultation__button{
    padding: 0 10px;
    height: 40px;
    color: #ffffff;
    background-color: #2e6ed5;
    border-left: none;
    display: flex;
    justify-content: center;
    align-self: center;
}

/*main__catalog end*/

.main__stock{
    margin-bottom: 30px;
}

.main__stock__slider{
    display: flex;
    justify-content: space-between;
}

.main__stock__slider-items{
    position: relative;
    width: 80%;
}

.main__stock__slider-text{
    position: absolute;
    top: 5%;
}

.main__stock__slider-h2{
    color: #ffffff;
    text-align: left;
    padding: 40px 50px;
    margin: 0;
}

.main__stock__slider-text span{
    color: #f26522;
}

.main__stock__slider-text p{
    padding-left: 60px;
    color: #ffffff;
    font-size: 1.2em;
}

.main__stock__slider-text a{
    margin: 40px 50px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px 30px;
    color: #f26522;
    background-color: #fff;
    border-radius: 5px;
    display: inline-block;
}

.main__stock__form{
    border: 2px solid #2e6ed5;
    border-radius: 5px;
    padding: 10px 15px;
    margin-left: 5px;
}

.main__stock__form p{
    color: #2e6ed5;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2em;
}

.main__stock__form-items{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.main__stock__form-items input{
    height: 35px;
    margin-bottom: 15px;
    padding-left: 10px;
}

.main__stock__button{
    color: #ffffff;
    background-color: #2e6ed5;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
    padding: 15px 0;
    border-radius: 5px;
}

/*.main__stock end*/

.main__services{
    margin-bottom: 40px;
}

.main__services__items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main__services__head{
    font-size: 1.2em;
    font-weight: bold;
    color: #2e6ed5;
    margin-bottom: 40px;
}

.main__services__list li{
    margin-bottom: 40px;
}

.main__services__icon{
    fill: #2e6ed5;
}

/*main__services end*/

.main__delivery{
    margin-bottom: 60px;
}

.main__delivery__head{
    background-image: url("../images/bg-delivery.jpg");
    background-position: center;
    padding: 5px 0 40px 0;
}

.main__delivery__h2{
    color: #ffffff;
}

.main__delivery__items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #ffffff;
    margin-top: 60px;
}

.main__delivery__items span{
    text-transform: uppercase;
    font-weight: bold;
}

.main__delivery__text{
    padding-bottom: 15px;
    padding-left: 15px;
    border-bottom: 2px solid #ffffff;
    border-left: 1px solid #ffffff;
    margin: 10px;
}

.main__delivery__guarantee-items{
    display: flex;
    margin-top: 60px;
}

.main__delivery__guarantee-text{
    width: 600px;
    border: 4px solid #2e6ed5;
    padding: 5px 20px 20px 20px;
}

.main__delivery__guarantee-h2{
    text-align: left;
}

.main__delivery__guarantee-h2 span{
    color: #f26522;
}

.main__delivery__guarantee-text h3{
    text-transform: uppercase;
    color: #f26522;
    padding-top: 20px;
    font-weight: bold;
}

.main__delivery__guarantee-text li{
    padding: 5px 0;
}

.main__delivery__guarantee-img{
    height: 300px;
    margin-left: 10px;
}

/*main__delivery end*/

.main__instruction{
    position: relative;
    background-color: #eaeaea;
    padding: 5px 0 60px 0;
}

.main__instruction-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 20px;
}

.main__instruction-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 15px;
    border-bottom: 2px solid #2e6ed5;
}

.main__instruction__icon{
    font-size: 3em;
    fill: #f26522;
    margin-bottom: 15px;
}

.main__instruction-item p{
    text-align: center;
}

.main__instruction__bid{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
}

.main__instruction__bid__form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #fff;
    padding: 25px;
    border: 1px solid #eaeaea;
}

.main__instruction__bid__form-input{
    position: relative;
    color: #aaaaaa;
}

.main__instruction__bid__form-phone{
    flex-grow: 1;
    padding-left: 10px;
    border: thin solid #cecece;
    border-right: none;
    height: 40px;
}

.main__instruction__bid__form-input svg{
    font-size: 1.4em;
}

.main__instruction__bid__button{
    padding: 0 20px;
    height: 40px;
    color: #ffffff;
    background-color: #2e6ed5;
    border: thin solid #cecece;
    border-left: none;
    display: flex;
    justify-content: center;
    align-self: center;
}

.main__instruction__bid span{
    text-transform: uppercase;
    font-weight: bold;
}

.main__instruction__bid-contacts{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
    padding: 15px;
}

.main__instruction__bid-phones{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 5px;
    margin-right: 20px;
    border: 1px solid #eaeaea;
}

.main__instruction__bid-phone-numbers address, .main__instruction__bid-mail address{
    font-weight: bold;
}

.main__instruction__bid-mail{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main__instruction__bid__icon{
    font-size: 3em;
    fill: #2e6ed5;
    padding-right: 10px;
}

/*main__instruction end*/

.main__moscow{
    background-image: url("../images/bg-consultatio-moskovn2.jpg");
    padding-bottom: 30px;
}

.main__moscow-h2{
    color: #ffffff;
    padding-top: 40px;
}

.content__conditioner-white{
    width: 250px;
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
}

.content__conditioner-white__text, .content__conditioner-black__text{
    color: #ffffff;
    display: block;
    margin-top: 15px;
}

.content__conditioner-black{
    width: 250px;
    float: right;
    margin: 0 5px 15px 15px;
}

/*main__moscow end*/

.main__photo-items, .main__photo-slider, .main__photo-slid{
    text-align: center;
}

.main__photo-slider{
    max-width: 100%;
    margin-bottom: 20px;
}

.main__photo-slid{
    max-width: 80%;
    box-sizing: border-box;
    margin-bottom: 20px;
    display: inline-block;
}

.main__photo-slid a{
    margin: 0 10px;
    display: inline-block;
    max-width: calc(25% - 24px);
}

.main__photo__button{
    color: #f26522;
    text-transform: uppercase;
    padding: 15px 50px;
    border: 1px solid #f26522;
    margin-top: 40px;
}

/*main__photo end*/

.main__article-items{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__article-block-photo{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.main__article__item{
    position: relative;
    margin: 0 10px;
    flex-basis: calc(33% - 20px);
}

.main__article__item p{
    color: #ffffff;
    background-color: #2e6ed5;
    padding: 10px 15px;
    position: absolute;
    bottom: 20px;
    left: -5px;
    box-shadow: -1px 0 10px -1px #2e6ed5;
}

.main__article__button{
    align-items: center;
    color: #f26522;
    text-transform: uppercase;
    display: inline-block;
    padding: 15px 50px;
    border: 1px solid #f26522;
    margin: 40px 0 60px 0;
}

.main__article__button, .main__photo__button{
    box-shadow: 0 0 15px 1px #f26522,  0 0 10px inset;
}

/*main__article end*/

.main__consultation-items{
    background-color: #fff;
    margin: 40px 60px;
    float: right;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.main__consultation{
    background-image: url("../images/bg-consultation2.jpg");
    background-position: center;
}

.main__consultation__form{
    border-radius: 5px;
    padding: 15px 25px;
    display: inline-block;
}

.main__consultation__form p{
    color: #2e6ed5;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2em;
}

.main__consultation__form-items{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.main__consultation__form__input{
    position: relative;
    color: #aaaaaa;
}

.main__consultation__form-items input{
    height: 35px;
    padding-left: 10px;
    margin-bottom: 15px;
}

.form__icon{
    position: absolute;
    top: 10px;
    right: 10px;
    fill: #aaaaaa;
}

.main__consultation__button{
    color: #ffffff;
    background-color: #2e6ed5;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
    padding: 15px 0;
    border-radius: 5px;
}

/*main-general end*/

@media screen and (max-width: 730px){
    .main__banner-head{
        flex-direction: column;
        align-items: center;
    }

    .main__banner-head h1{
        text-align: center;
    }

    .main__banner-head a{
        margin-top: 15px;
    }
}

@media screen and (max-width: 620px){
    .main__banner__advantages{
        justify-content: center;
    }

    .main__banner__advantages__item{
        padding: 5px;
        margin: 20px;
    }
}

@media screen and (max-width: 920px){
    .main__catalog__item{
        flex-basis: calc(33% - 30px);
    }
}

@media screen and (max-width: 715px){
    .main__catalog__item{
        flex-basis: calc(50% - 30px);
    }
}

@media screen and (max-width: 475px){
    .main__catalog__item{
        flex-basis: calc(100% - 30px);
    }
}

@media screen and (max-width: 343px){
    .main__catalog__nav a{
        border-right: none;
        border-bottom: 1px solid #2e6ed5;
    }

    .main__catalog__nav a:last-child{
        border-bottom: none;
    }
}

@media screen and (max-width: 915px){
    .main__catalog__consultation__form{
        flex-direction: column;
        margin: 10px;
        background-color: #fff;
        padding: 10px;
    }

    .main__catalog__consultation__form input{
        margin-bottom: 10px;
        border: 1px solid #bcbcbc;
    }

    .main__catalog__consultation{
        background-image: none;
        background-color: #e8e8e8;
        justify-content: center;
    }

    .main__catalog__consultation span{
        padding-left: 0;
    }
}

@media screen and (max-width: 900px){
    .main__stock__slider{
        flex-wrap: wrap;
        justify-content: center;
    }

    .main__stock__slider-items{
        width: 100%;
    }

    .main__stock__form{
        margin-left: 0;
        margin-top: 10px;
    }
}

@media screen and (max-width: 690px){
    .main__stock__slider-text h2{
        padding: 20px 50px;
    }

    .main__stock__slider-text a{
        margin: 20px 50px;
    }
}

@media screen and (max-width: 530px){
    .main__stock__slider-text h2{
        padding: 5px 50px;
    }

    .main__stock__slider-text a{
        margin: 5px 50px;
    }
}

@media screen and (max-width: 460px){
    .main__stock__slider-text h2{
        padding: 5px;
    }

    .main__stock__slider-text p{
        padding-left: 10px;
    }

    .main__stock__slider-text a{
        margin: 5px;
    }
}

@media screen and (max-width: 410px){
    .main__stock__slider-text p{
        display: none;
    }

    .main__stock__slider-text h2{
        padding: 5px 10px;
        font-size: 1.5em;
    }

    .main__stock__slider-text a{
        margin: 5px 10px;
    }
}

@media screen and (max-width: 835px){
    .main__services__items{
        flex-direction: column;
        align-items: center;
    }

    .main__services__installation, .main__services__common{
        text-align: center;
    }
}

@media screen and (max-width: 770px){
    .main__delivery__items{
        justify-content: center;
    }

    .main__delivery__text{
        flex-basis: calc(50% - 10px);
        box-sizing: border-box;
        margin: 10px 5px;
    }
}

@media screen and (max-width: 965px){
    .main__delivery__guarantee-items{
        flex-wrap: wrap;
        justify-content: center;
    }
    .main__delivery__guarantee-img{
        height: auto;
        margin-top: 15px;
    }

    .main__delivery__guarantee-text{
        width: auto;
    }
}

@media screen and (max-width: 820px){
    .main__instruction-items{
        justify-content: space-around;
    }

    .main__instruction-item{
        flex-basis: calc(50% - 30px);
        margin: 15px;
    }
}

@media screen and (max-width: 525px){
    .main__instruction-item {
        flex-basis: calc(100% - 30px);
    }
}

@media screen and (max-width: 830px){
    .main__instruction__bid{
        flex-direction: column;
        align-items: center;
    }

    .main__instruction__bid span{
        margin: 15px 0;
    }
}

@media screen and (max-width: 435px){
    .main__instruction__bid-contacts{
        flex-direction: column;
    }

    .main__instruction__bid-phones{
        margin-right: 0;
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 925px){
    .main__article__item{
        flex-basis: calc(50% - 20px);
    }
}

@media screen and (max-width: 620px){
    .main__article-block-photo .main__article__item{
        flex-basis: calc(100% - 20px);
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 320px){
    .main__instruction__bid__form{
        flex-direction: column;
    }
}