.main__service__conditioners{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.main__service__conditioners-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: calc(30% - 10px);
    border-bottom: 1px solid #2e6ed5;
    padding-bottom: 5px;
}

.main__service__conditioners-item span{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2em;
    padding: 15px;
}

.main__service__conditioners-item a{
    text-transform: uppercase;
    color: #f26522;
    padding: 10px 25px;
    border: 1px solid #f26522;
}

.main__service__sentence{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.main__service__sentence__item{
    flex-basis: 50%;
}

.main__service__sentence-text{
    background-image: url("../images/bg-cog.png");
    padding: 25px;
}

.main__service__sentence-text p{
    color: #7a7a7a;
    display: block;
}